</div>
  <!-- //wrapper-->


<!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->

<!-- Jquery Library -->
<?php addJS('jquery.min.js')?>
<?php addJS('jquery.ui.min.js')?>
<?php addJS('bootstrap/bootstrap.min.js')?>
<?php addJS('modernizr/modernizr.js')?>
<?php addJS('mmenu/jquery.mmenu.js')?>
<?php addJS('styleswitch.js')?>
<?php addJS('form/form.js')?>
<?php addJS('datetime/datetime.js')?>
<?php addJS('chart/chart.js')?>
<?php addJS('pluginsForBS/pluginsForBS.js')?>
<?php addJS('miscellaneous/miscellaneous.js')?>
<?php addJS('caplet.custom.js')?>
<!-- <script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.ui.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/bootstrap.min.js"></script> -->
<!-- Modernizr Library For HTML5 And CSS3 -->
<!-- <script type="text/javascript" src="assets/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/plugins/mmenu/jquery.mmenu.js"></script>
<script type="text/javascript" src="assets/js/styleswitch.js"></script> -->
<!-- Library 10+ Form plugins-->
<!-- <script type="text/javascript" src="assets/plugins/form/form.js"></script> -->
<!-- Datetime plugins -->
<!-- <script type="text/javascript" src="assets/plugins/datetime/datetime.js"></script> -->
<!-- Library Chart-->
<!-- <script type="text/javascript" src="assets/plugins/chart/chart.js"></script> -->
<!-- Library  5+ plugins for bootstrap -->
<!-- <script type="text/javascript" src="assets/plugins/pluginsForBS/pluginsForBS.js"></script> -->
<!-- Library 10+ miscellaneous plugins -->
<!-- <script type="text/javascript" src="assets/plugins/miscellaneous/miscellaneous.js"></script> -->
<!-- Library Themes Customize-->
<!-- <script type="text/javascript" src="assets/js/caplet.custom.js"></script> -->

</body>
</html>