<!-- Main Header -->
      
      <header class="main-header">
<?php      $session = Session::getCurrentSession();?>


        <!-- Logo -->
       <a href="<?php echo URL."dashboard"?>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>HDC</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>HDC</b> Inventory</span>
  </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">

          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>


          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">


            <ul class="nav navbar-nav">
            <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                   <?php $photo = getModel('users')->getPhoto($session['user_id']);?>
              <?php if (!$photo):?>
                <img src="<?php echo URL."assets/images/user2-160x160.jpg"?>" class="user-image" alt="User Image"/>
              <?php else:?>
                <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
              <?php endif?>
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"><?php echo $session['user_name']?></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <?php if (!$photo):?>
                <img src="<?php echo URL."assets/images/user2-160x160.jpg"?>" class="user-image" alt="User Image"/>
              <?php else:?>
                <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
              <?php endif?>
                    <p>
                      <?php $access_level ="";
                  if($session['user_access_level'] == INVENTORY_MANAGER)
                  {
                    $access_level = "Inventory Manager";
                  }
                  elseif($session['user_access_level'] == DEPARTMENT_MANAGER)
                  {
                    $access_level = "Department Manager";
                  }
                  else
                  {
                    $access_level = "Assistant";
                  }
                  ?>

                  <?php echo $session['user_name']."-". $access_level?> 
                    </p>
                  </li>
                  <!-- Menu Body -->
                
                  <!-- Menu Footer-->
                  <li class="user-footer">
                
                    <div class="pull-right">
                      <a href="<?php echo URL.'login/logout'?>" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
            
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar sidebar-collapse">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <?php if (!$photo):?>
                <img src="<?php echo URL."assets/images/user2-160x160.jpg"?>" class="user-image" alt="User Image"/>
              <?php else:?>
                <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
              <?php endif?>
            </div>
            <div class="pull-left info">
              <p><?php echo $session['user_name']?></p>
              <!-- Status -->
              <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
            </div>
          </div>

          <!-- search form (Optional) -->
          <!-- <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> -->
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <!-- <li class="header">Menu</li> -->
            <!-- Optionally, you can add icons to the links -->
            <li class="dashboard"><a href="<?php echo URL?>dashboard"><i class='fa fa-dashboard'></i> <span>Dashboard</span></a></li>
            <li class="items"><a href="<?php echo URL?>items/department"><i class='fa fa-tags'></i> <span>Items</span></a></li>
            <li class="departments"><a href="<?php echo URL?>departments"><i class='fa  fa-cubes'></i> <span>Departments</span></a></li>
<!--            <li class="treeview">
              <a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
              </ul>
            </li>-->
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>