<?php loadHelper('head');?>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta information -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- Title-->
  <title>CAPLET |  Admin HTML Themes</title>
  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <!-- CSS Stylesheet-->
  <?php addCSS('bootstrap/bootstrap.min.css')?>
  <?php addCSS('bootstrap/bootstrap-themes.css')?>
  <?php addCSS('style.css')?>

<!-- <link type="text/css" rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="assets/css/bootstrap/bootstrap-themes.css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="assets/css/style.css" /> -->

<!-- Styleswitch if  you don't chang theme , you can delete -->
<!-- <link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="assets/css/styleTheme1.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="assets/css/styleTheme2.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="assets/css/styleTheme3.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="assets/css/styleTheme4.css" />
-->
</head>
<body class="full-lg">
<div id="wrapper">

<div id="loading-top">
    <div id="canvas_loading"></div>
    <span>Checking...</span>
</div>