<!-- Main Header -->

<?php loadHelper('notification');
$session = Session::getCurrentSession();
?>

<header class="main-header">

  <!-- Logo -->
  <a href="<?php echo URL."dashboard"?>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>HDC</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>HDC</b> Inventory</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">

    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>


    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">


      <ul class="nav navbar-nav">

        <!-- Notifications Menu -->
        <?php $notifications = notifications(); ?>
        <li class="dropdown notifications-menu messages-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning"><?php echo count($notifications);?></span>
          </a>
          
          <ul class="dropdown-menu rashmi">
            <li class="header">You have <?php echo count($notifications);?> notifications</li>
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
                <?php if($notifications):?>
                  <?php foreach($notifications as $notification):?>
                    <li><!-- start notification -->
                      <?php if($notification['type'] == 'stock'):?>
                        <?php 
                        $item = getModel('items')->loadByID($notification['item_id']);
                        $dept = getModel('departments')->loadByID($notification['department_id']);
                        ?>
                        <a href="<?php echo URL.'notification'?>?type=stock&id=<?php echo $notification['notification_stock_id']?>">
                          <div class='pull-left'>
                            <img src="<?php echo URL."assets/images/stock.png"?>" class="img-circle" alt="User Image"/>
                          </div>
                          <h4 class='text-red'>Stock</h4>
                          <p><?php echo 'Stock '.$item["item_name"].' To '.$dept["department_name"];?></p>
                          
                        </a>

                        <!-- </a> -->
                      <?php elseif($notification['type'] == 'purchase'):?>

                        <?php 
                           // var_dump($notification);
                        $item = getModel('items')->loadByID($notification['item_id']);
                        ?>
                        <a href="<?php echo URL.'notification'?>?type=purchase&id=<?php echo $notification['notification_purchase_id']?>">
                          <div class='pull-left'>
                            <img src="<?php echo URL."assets/images/purchase.png"?>" class="img-circle" alt="User Image"/>
                          </div>
                          <h4 class='text-red'>Purchase</h4>
                          <p><?php echo 'Purchase '.$notification['quantity']. " qty of ".$item["item_name"];?></p>
                        </a>


                      <?php elseif($notification['type'] == 'eta'):?>
                        <?php //var_dump($notification);
                        $data = getModel('notification')->loadData($notification['purchase_id']);
                        $item = getModel('items')->loadByID($data['item_id']);

                        ?>
                        <a href="<?php echo URL.'notification'?>?type=eta&id=<?php echo $notification['notification_ETA_id']?>">
                         <div class='pull-left'>
                          <img src="<?php echo URL."assets/images/eta.png"?>" class="img-circle" alt="User Image"/>
                        </div>
                        <h4 class='text-green'>ETA</h4>
                        <p><?php echo 'ETA for '.$item["item_name"].' has reached';?></p>

                      </a>


                    <?php endif;?>
                  </li><!-- end notification -->
                <?php endforeach;endif;?>

              </ul>
            </li>
            <li class="footer"><a href="<?php echo URL. 'notification'?>">View all</a></li>
          </ul>
        </li>

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <?php $photo = getModel('users')->getPhoto($session['user_id']);?>
            <?php if (!$photo):?>
              <img src="<?php echo URL."assets/images/user2-160x160.jpg"?>" class="user-image" alt="User Image" />
            <?php else:?>
              <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
            <?php endif?>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><?php echo $session['user_name']?></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
             <?php if (!$photo):?>
              <img src="<?php echo URL."assets/images/user2-160x160.jpg"?>" class="user-image" alt="User Image"/>
            <?php else:?>
              <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
            <?php endif?>
            <p>
              <?php $access_level ="";
              if($session['user_access_level'] == INVENTORY_MANAGER)
              {
                $access_level = "Inventory Manager";
              }
              elseif($session['user_access_level'] == DEPARTMENT_MANAGER)
              {
                $access_level = "Department Manager";
              }
              elseif($session['user_access_level'] == ASSISTANT)
              {
                $access_level = "Assistant";
              }
              else
              {
                $access_level = "Purchase Manager";
              }
              ?>

              <?php //echo $session['user_name']."-". $access_level?>
              <?php echo $session['user_name']?> 
              <!-- <small>Member since Nov. 2012</small> -->
            </p>
          </li>

          <!-- Menu Footer-->
          <li class="user-footer">
              <!--   <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div> -->
                <div class="pull-right">
                  <a href="<?php echo URL.'login/logout'?>" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        <!--   <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar sidebar-collapse">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <?php if (!$photo):?>
            <img src="<?php echo URL."assets/images/user2-160x160.jpg"?>" class="user-image" alt="User Image"/>
          <?php else:?>
            <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
          <?php endif?>
        </div>
        <div class="pull-left info">
          <p><?php echo $session['user_name']?></p>
          <!-- Status -->
          <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
        </div>
      </div>

      <!-- search form (Optional) -->
     <!--  <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form> -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">

        <!-- Optionally, you can add icons to the links -->
        <li class="header">General</li>
        <li class="dashboard"><a href="<?php echo URL?>dashboard"><i class='fa fa-dashboard'></i> <span>Dashboard</span></a></li>
        <!-- <li class="user"><a href="<?php echo URL?>users"><i class='fa fa-user'></i> <span>Users</span></a></li> -->
        <li class="header">Items</li>
        <li class="items"><a href="<?php echo URL?>items"><i class='fa fa-tags'></i> <span>Items</span></a></li>
        <!-- <li class="parlist"><a href="<?php echo URL?>parlist"><i class='fa fa-book'></i> <span>Parlist</span></a></li> -->
        <li class="vendors"><a href="<?php echo URL?>vendors"><i class='fa  fa-shopping-cart'></i> <span>Vendors</span></a></li>
        <li class="header">Inventory</li>
        <li class="departments"><a href="<?php echo URL?>departments"><i class='fa  fa-cubes'></i> <span>Departments</span></a></li>
        <li class="warehouses"><a href="<?php echo URL?>warehouse"><i class='fa  fa-building'></i> <span>Warehouses</span></a></li>
        <li class="lotno_items"><a href="<?php echo URL?>lotNo"><i class="fa   fa-th-list"></i></i> <span>Lot Numbers</span></a></li>
          <li class="purchase_items"><a href="<?php echo URL?>purchase"><i class="fa fa-shopping-cart"></i></i> <span>Purchase</span></a></li>
        <?php if($access_level == "Inventory Manager"):?>
          
          <li class="stock_items"><a href="<?php echo URL?>stock"><i class="fa fa-share"></i></i> <span>Stock</span></a></li>
        <?php endif?>
        <li class="header">To Do</li>
        <li class="notification"><a href="<?php echo URL?>notification"><i class="fa fa-bell-o"></i></i> <span>Daily Update</span></a></li>
        <?php if($access_level == "Inventory Manager"):?>
        <li class="daily_usage"><a href="<?php echo URL?>departments/dailyUsage"><i class="fa fa-pie-chart"></i></i> <span>Daily Usage</span></a></li>
      <?php endif?>
        <li class="report"><a href="<?php echo URL?>report"><i class="fa fa-line-chart"></i></i> <span>Generate Report</span></a></li>
        <!-- <li class="compareData"><a href="<?php echo URL?>check"><i class="fa fa-check"></i></i> <span>Compare Data</span></a></li> -->


      </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
