<div class="row">
	<?php
	foreach($_SESSION['success'] as $key => $msg):?>
	<div class="col-lg-12" style='padding-left:30px;padding-right:30px'>
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-check"></i> Success</h4>
			<?php echo $_SESSION['success'][$key];?>
		</div>
	</div>
	<?php unset($_SESSION['success'][$key]);?>
<?php endforeach;?>
</div>