<script type="text/javascript">
	$(document).ready(function(){
		$('.sidebar-menu li.parlist').addClass('active');
	});
</script>
<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Parlist
		</h1>
	</section>
	<?php echo Session::showSuccessMessages();?>
	<?php echo Session::showErrorMessages();?>
	<?php $session = Session::getCurrentSession();?>
	<section class="content">
		<div class="col-lg-2" style='  padding-left: 0; padding-right: 0;'>
			<div class="form-group">
				<label>Select Department</label>
				<select id="departments" class="form-control"  onchange="FilterDepartments()">
					<option value="0" selected ="">All Departments</option>
					<?php if(isset($view_departments)):?>
						<?php foreach ($view_departments as $department):?>
							<option value="<?php echo $department['department_id']?>"><?php echo $department['department_name']?></option>
						<?php endforeach?>
					<?php endif;?>
				</select> 
			</div>
		</div>

		<div class="col-lg-12 col-md-12" id="parlist-form">
			<?php $count = 1; ?>
			<?php foreach ($view_departments as $department):?>
				<?php if(($count % 2) != 0):?>
					<div class='row'>
					<?php endif;?>
					<div class='col-lg-6 col-md-6 '>
						<div class="box" style='min-height:300px'>
							
							<div class="box-header">
								<h3 class="box-title"><?php echo $department['department_name']?></h3>
							</div>
							<form role="form" action="<?php echo URL."parlist/editDeptValue/".$department['department_id']?>" method="post" class="items_dept_form_<?php echo $key?> items_dept_form">
								<table class="table table-hover " width="100%" >
									<thead>
										<th class="col-lg-2 text-center">Item Name</th>
										<th class="col-lg-2 text-center">Min</th>    
										<th class="col-lg-2 text-center">Max</th>
										<!-- <th class="col-lg-1 text-center">Action</th> -->
									</thead>
									<tbody>

										<?php $dummy = 0;?>
										<?php foreach($view_items as $key => $item):?>
											<?php if(getModel('items')->checkItemInDept($item['item_id'], $department['department_id'])):?>
												<?php $dummy++;?>
												<tr data-url="<?php echo URL."items/view/". $item['item_id']?>">
													
													<td class="text-center"><input type="hidden" name="item[<?php echo $item['item_id']?>]" id="item_<?php echo $item['item_id']?>" value="<?php echo $item['item_id']?>"><?php echo $item['item_name'];?></td>
													<td class="text-center"><input type="number"class="form-control min_department" name="item[<?php echo $item['item_id']?>][min]" id="min_<?php echo $item['item_id']?>" value="<?php echo $view_item[$department['department_id']][$item['item_id']]['min'];?>">
														<p class="error error_min_department">Please enter value greater than 0</p></td>
														<td class="text-center"><input type="number" class="form-control number greaterThan max_department" data-min="min_department" name="item[<?php echo $item['item_id']?>][max]" id="max_<?php echo $item['item_id']?>" value="<?php echo $view_item[$department['department_id']][$item['item_id']]['max'];?>">
															<p class="error error_max_department">Please enter value greater than min value</p></td>
															

														</tr>
													<?php endif;?>
												<?php endforeach;?>
												<?php if($dummy == 0):?>
													<tr>
														<td colspan="4">No Items in this department</td>
													</tr>
												<?php endif;?>
												



											</tbody>
										</table>
										<?php if($session['user_access_level'] != 4):?>
											<div class='row'>
												<div class='col-lg-2 col-md-3 pull-right' style='min-width:150px; margin-bottom:8px;margin-right:8px'>
													<button class="btn btn-flat btn-block btn-primary dept_<?php echo $department['department_id']?> dept_save" type="submit" >Save</button>
												</div>
											</div>
										<?php endif;?>
									</form>
								</div> 
							</div>


							<?php if(($count % 2) == 0):?>
							</div>
						<?php endif;?>
						<?php $count++;?>

					<?php endforeach ?>


				</div>
			</section>
		</div>

		<script type="text/javascript">
//    $(document).ready(function () {
//      var department = $('#departments').val();
//     $('#usage-form').load('<?php echo URL . 'items/filterItemsDept/department' ?>');
// });


function FilterDepartments()
{
	var department = $('#departments').val();
	if(department == 0)
	{
		location.reload();
	}
	else
	{
		$.ajax({
			url:'<?php echo URL.'parlist/filterItemsDept'?>', 
			method: 'POST',
			data:{'department':department},
			success: function(response)
			{
          //alert(response);
          $("#parlist-form").html(response);
      },
      error: function()
      {
      	alert('error');
      }
  });
	}
}

</script>
