        <?php  
        $count = 1;
        $session = Session::getCurrentSession();

       
        ?>
        <?php if(($count % 2) == 0):?>
        <div class='row'>
        <?php endif;?>
        <div class='col-lg-12 col-md-12' id="parlist-table" style="padding-left: 0px;">
          <div class="box" style='min-height:300px'>
            
            <div class="box-header">
              <h3 class="box-title"><?php echo $items[0]['department_name']?></h3>
            </div>
            <form role="form" action="<?php echo URL."parlist/editDeptValue/".$items[0]['department_id']?>" method="post" class="items_dept_form">
              <table class="table table-hover " width="100%" >
                <thead>
                  <th class="col-lg-2 text-center">Item Name</th>
                  <th class="col-lg-2 text-center">Min</th>    
                  <th class="col-lg-2 text-center">Max</th>
                </thead>
                <tbody>

                  <?php $dummy = 0;?>
                  <?php foreach($items as $key => $item):?>
                      <?php $dummy++;?>
                      <tr data-url="<?php echo URL."items/view/". $item['item_id']?>">
                        
                        <td class="text-center"><input type="hidden"  name="item[<?php echo $item['item_id']?>]" id="item_<?php echo $item['item_id']?>" value="<?php echo $item['item_id']?>"><?php echo $item['item_name'];?></td>
                        <td class="text-center"><input type="number"class="form-control min_department" name="item[<?php echo $item['item_id']?>][min]" id="min_<?php echo $item['item_id']?>" value="<?php echo $item['department_item_min'];?>"><p class="error error_min_department">Please enter value greater than 0</p></td>
                        <td class="text-center"><input type="number" class="form-control number greaterThan max_department" data-min="min_department" name="item[<?php echo $item['item_id']?>][max]" id="max_<?php echo $item['item_id']?>" value="<?php echo $item['department_item_max'];?>"><p class="error error_max_department">Please enter value greater than min value</p></td>
                      </tr>
                  <?php endforeach;?>
                  <?php if($dummy == 0):?>
                    <tr>
                      <td colspan="4">No Items in this department</td>
                    </tr>
                  <?php endif;?>
                  



                </tbody>
              </table>
              <?php if($session['user_access_level'] != 4):?>
              <div class='row'>
               <div class='col-lg-2 col-md-3 pull-right' style='min-width:150px; margin-bottom:8px;margin-right:8px'>
                <button class="btn btn-flat btn-block btn-primary dept_<?php echo $department['department_id']?> dept_save" type="submit" >Save</button>
                </div>
              </div>
            <?php endif?>

            </form>
          </div> 
        </div>


        <?php if(($count % 2) == 0):?>
        </div>
      <?php endif;?>
      <?php $count++;?>

