<script type="text/javascript">
  $(document).ready(function(){
   $('.sidebar-menu li.report').addClass('active');
 });
</script>
<div class="content-wrapper">
  <section class='content-header'></section>
  <div class="col-lg-12">
    <div class="box" style="margin-top:-40">
      <div class="box-header with-border">
        <h3 class="box-title">Reports</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <form role="form" action="<?php echo URL."report/generateReport"?>" method="post" enctype="multipart/form-data" id="report_form">

          <!-- text input -->
          <div class="form-group">
            <label>Category</label>
            <select id="category" class="form-control" style="margin:0" name="category" > 
              <option value="0" disabled selected></option>
              <option value="1">Departments</option>
              <option value="2">Items</option>
            </select>
            <p class="error" id="error_category">Please Choose a category</p>
          </div>
          <div class="form-group row" >
            <div class="col-lg-6">
              <label>Date From</label>
              <input type="date" id="date_from" name="date_from" class="form-control" style="margin:0;width:100%">
            </div>
            <div class="col-lg-6">
              <label>Date To</label>
              <input type="date" id="date_to" name="date_to" class="form-control" style="margin:0;width:100%">
            </div>
             <p class="error" id="error_date" style="margin-left:15">Please input date to field</p>
          </div>
          <div class="form-group">
            <label>Period</label>
             <select name="periods" id="period" class="form-control" style="margin:0">
                <option value="" selected="">None</option>
                <option value=",today" >All</option>
                <option value="monday this week,sunday this week">This Week</option>
                <option value="monday last week, sunday last week">Last Week</option>
                <option value="first day of this month,last day of this month">This Month</option>
                <option value="first day of last month,last day of last month">Last Month</option>
                <option value="first day of -3 months,last day of this months">3 months</option>
                <option value="first day of -6 months,last day of this months">6 months</option>
                <option value="1/1 this year,12/31 this year">This Year</option>
                <option value="1/1 last year,12/31 last year">Last Year</option>
              </select>
            <p class="error" id="error_period">Please Choose a period or Date Range</p>
          </div>

          <div class="box-footer">
            <button type="submit" name="submit" id="submit" class="btn btn-primary">Generate Report</button>
          </div>
        </form>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>