<script type="text/javascript">
  $(document).ready(function(){
    $('.sidebar-menu li.items').addClass('active');
    $("#report_table").dataTable(
    {
      
      <?php if(count($view_report['data']) > 10):?>
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    <?php else:?>
    "lengthMenu": [[10], [10]],
  <?php endif;?>
  responsive: true
});

    $("#report_table_wrapper").css("overflow-x","hidden");
  })
</script>

<div class="content-wrapper" style='  padding-bottom: 20px;'>
  <section class='content-header'></section>

  <section class='report'>
    <div class='row page-header'>
      <div class='col-lg-4  col-md-8 col-sm-8 '>
        <h3><strong>Item Report</strong></h3>
        <h3>Date Range: <strong><?php echo ($view_report['start_date'] == '1970-01-01')? 'Beginning': $view_report['start_date']?></strong> To <strong><?php echo $view_report['end_date']?></strong></h3>
      </div>
    </div>
<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <!-- <h3 class='box-title'></h3> -->
        </div>
        <div class="box-body">
        <div class="table-responsive no-padding" id="report-table">
         <?php if($view_report['data']):?>
        <table class="table table-hover" id="report_table">
          <thead>
            <th class="col-lg-2 text-center">Item Name</th>    
            <th class="col-lg-2 text-center">Purchased</th>
            <th class="col-lg-2 text-center">Stocked</th>
            <th class="col-lg-2 text-center">Used</th>
          </thead>
          <tbody>
            <?php foreach($view_report['data'] as $report):?>
              <tr>
                <td class="text-center"><a href="<?php echo URL."items/view/".$item["item_id"]?>"><?php echo $report['item_name'];?></a></td>
                <td class="text-center"><?php echo ($report['purchased'] == NULL)? 0 : $report['purchased'];?></td>
                <td class="text-center"><?php echo $report['stock'];?></td>
                <td class="text-center"><?php echo ($report['used'] == NULL)? 0: $report['used'];?></td>
              </tr>
            <?php endforeach;?>
          </tbody></table>
        <?php else:?>
          <p> No records found</p>
        <?php endif;?>

        </div>
        </div>
    </div>
</div>
   
  </section>


</div>