<script type="text/javascript">
  $(document).ready(function(){

   $('.sidebar-menu li.warehouses').addClass('active');
 });
</script>
<div class="content-wrapper">
  <section class='content-header'></section>
  <?php echo Session::showSuccessMessages();?>
  <?php echo Session::showErrorMessages();?>
  <div class="col-lg-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Add New Warehouse</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <form role="form" action="<?php echo URL."warehouse/add"?>" method="post" enctype="multipart/form-data" id="warehouse_form">

          <!-- text input -->
          <div class="form-group">
            <label>Warehouse Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="warehouse_name" id="warehouse_name" 
            > 
            <p class="error" id="error_name">Please Enter a warehouse name</p>
          </div>

      <!--   <div class="form-group">
        <label>Select Manager</label>
          <select id="warehouse_manager" class="form-control" style="margin:0" name="warehouse_manager" >
            <option value="0" disabled selected>Manager</option>
            
              <?php foreach ($view_users as $user):?>

                <option value="<?php echo $user['user_id']?>" 
                  ><?php echo $user['user_name']?></option>
                <?php endforeach?>
            </select> 
            <p class="error" id="error_manager">Please select a manager</p>
          </div> -->
          <div class="box-footer">
            <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>