<script>
	$(document).ready(function () {
		$('.sidebar-menu li.warehouses').addClass('active');
		$("#warehouse_table").dataTable(
		{
			"autoWidth":true,
		});

		$("#warehouse_table_wrapper").css("overflow-x","hidden");

	});
</script>
<div class="content-wrapper">
	<!-- <p>Manager Name : <?php echo (isset($view_warehouse['user_name']))?$view_warehouse['user_name']:null;?></p>
	<p>Phone Number : <?php echo (isset($view_warehouse['user_phone']))?$view_warehouse['user_phone']:null;?></p> -->
	<section class='content-header'>
	</section>
<section class='invoice'>
<div class='row page-header'>
<div class='col-lg-12'>
<h2><?php echo $view_warehouse['warehouse_name']?></h2>
</div>

</div>

<div class = "table-responsive no-padding">
							<table class="table table-hover table-striped table-bordered" width="100%"  id="warehouse_table">
								<thead>
									<th class="col-lg-2 text-center">Product Name</th>    
									<th class="col-lg-2 text-center">Min</th>
									<th class="col-lg-2 text-center">Max</th>
									<th class="col-lg-2 text-center">Current</th>
								</thead>
								<tbody>
									<?php if (isset($view_items[0])):?>
										<?php foreach($view_items as $item):?>
											<tr>
												<td class="text-center"><a href="<?php echo URL."items/view/".$item["item_id"]?>"><?php echo $item['item_name'];?></a></td>
												<td class="text-center"><?php echo $item['warehouse_item_min'];?></td>
												<td class="text-center"><?php echo $item['warehouse_item_max'];?></td>
												<td class="text-center"><?php echo $item['warehouse_item_current'];?></td>
											</tr>
										<?php endforeach;?>
									<?php endif?>
								</tbody></table>
							</div>

</section>
	
	
	</div>