<script>
    $(document).ready(function () {
        $('.sidebar-menu li.warehouses').addClass('active');
        $("#warehouse_table").dataTable({
             <?php $session = Session::getCurrentSession();
           if($session['user_access_level'] == "4"):?>
            "columns": [

            null,
            
            { "searchable": false }
            ] ,
            <?php else:?>
            "columns": [

            null,
            null,
            
            { "searchable": false }
            ] ,
            <?php endif?>
            "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -1 ] }
            ],
            <?php if(count($view_warehouses) > 10):?>
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        <?php else:?>
        "lengthMenu": [[10], [10]],
    <?php endif;?>
    responsive: true
            });
        $("#warehouse_table_wrapper").css("overflow-x","hidden");
    });
</script>
 <?php $session = Session::getCurrentSession();?>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Warehouses
        </h1>
    </section>
    <?php echo Session::showSuccessMessages();?>
    <?php echo Session::showErrorMessages();?>
    <section class="content" style='padding-left:0px'>
        <div class="col-md-2" style="margin-bottom:5px;">
        <?php if($session['user_access_level'] == 1):?>
            <div class="input-group-btn">
                <a href="<?php echo URL .'warehouse/addWarehouse'?>">
                  <button class="btn btn-success" id="addWarehouse">Add a new warehouse <!-- <i class="fa fa-plus"></i> --></button>
              </a>
          </div>
      <?php endif?>
      </div>
      <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <!-- <h3 class='box-title'>Stock</h3> -->
            </div>
            <div class="box-body">
                <div class="table-responsive no-padding">
                  <table class="table table-hover table-striped table-bordered" width="100%"  id="warehouse_table">
                    <thead>
                        <th class="col-lg-1 text-center">Warehouse ID</th>
                        <th class="col-lg-2 text-center">Warehouse Name</th>  
                         <?php if($session['user_access_level'] == 1):?>  
                       <th class="col-lg-2 text-center">Action</th>
                   <?php endif?>
                   </thead>
                   <tbody>
                    <?php if (isset($view_warehouses[0])):?>
                        <?php foreach($view_warehouses as $warehouse):?>
                            <tr>
                                <td class="text-center"><?php echo $warehouse['warehouse_id'];?></td>
                                <td class="text-center"><a href="<?php echo URL."warehouse/view/".$warehouse["warehouse_id"]?>"><?php echo $warehouse['warehouse_name'];?></a></td>
                                 <?php if($session['user_access_level'] == 1):?>
                                    <td class="text-center"><a href="<?php echo URL."warehouse/editWarehouse/". $warehouse['warehouse_id']?>">Edit</a> | <a href="<?php echo URL."warehouse/delete/". $warehouse['warehouse_id']?>"  onclick="return confirm('Are you sure?')">Delete</a></td>
                                <?php endif?>
                                </tr>
                            <?php endforeach;?>
                        <?php endif;?>
                    </tbody></table>
                </div>
            </div>
        </div>
    </div>
</section>
</div>