<script>
    $(document).ready(function () {
        $('.sidebar-menu li.dashboard').addClass('active');
    });
</script>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
    </section>
    <section class="content" style='padding-left:0px'>
       
    </section>
</div>