<?php loadHelper('notification');?>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
    </h1>
  </section>
  <section class="content">
   <div class="row">
    <div class="col-lg-4 col-xs-12 col-md-4">
      <!-- small box -->
      <?php $notifications = notificationStock();?>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><?php echo count($notifications);?></h3>
          <p>New Stock Notifications</p>
        </div>
        <!-- <div class="icon">
          <i class="ion ion-bag"></i>
        </div> -->
        <a href="<?php echo URL.'notification'?>?type=stock" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-12 col-md-4">
      <!-- small box -->
      <?php $notifications = notificationPurchase();?>
      <div class="small-box bg-green">
        <div class="inner">
          <h3><?php echo count($notifications);?><!-- <sup style="font-size: 20px">%</sup> --></h3>
          <p>New Purchase Notifications</p>
        </div>
      <!--   <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div> -->
        <a href="<?php echo URL.'notification'?>?type=purchase" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-12 col-md-4">
      <!-- small box -->
      <?php $notifications = notificationETA();?>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><?php echo count($notifications);?></h3>
          <p>New ETA Notifications</p>
        </div>
       <!--  <div class="icon">
          <i class="ion ion-person-add"></i>
        </div> -->
        <a href="<?php echo URL.'notification'?>?type=eta" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->

  </div>
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Stocked Item vs Purchased Items</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <!-- <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
      </div>
    </div>
    <div class="box-body">
      <div class="chart" >
        <canvas id="barChart" height="400" width="800" style="width: 780px; height: 400px;"></canvas>

      </div>
      <div class='box-footer'>
    <!-- <div id='legend' class='col-xs-12 col-sm-6'>
          <ul>
          <li class='pull-left' style='margin-right:10px'><div style='width:40px; height:40px; background-color:red'></div> Name</li>
          <li class='pull-left'><div style='width:40px; height:40px; background-color:red'></div> Name</li>
          </ul>
        </div>
      </div> -->
    </div>
    <!-- /.box-body -->
  </div>
</section>
</div>


<script>

  $(document).ready(function () {


   $('.sidebar-menu li.dashboard').addClass('active');
   var stockData = <?php echo ($view_stockData); ?>;

   var purchaseData = <?php echo $view_purchaseData;?>;

   var areaChartData = {
    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [
    {
      label: "Items Stocked",
      fillColor: "rgba(210, 214, 222, 1)",
      strokeColor: "rgba(210, 214, 222, 1)",
      pointColor: "rgba(210, 214, 222, 1)",
      pointStrokeColor: "#c1c7d1",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: stockData
    },
    {
      label: "Items Purchased",
      fillColor: "rgba(60,141,188,0.9)",
      strokeColor: "rgba(60,141,188,0.8)",
      pointColor: "#3b8bba",
      pointStrokeColor: "rgba(60,141,188,1)",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(60,141,188,1)",
      data: purchaseData
    }
    ]
  };

  var barChartCanvas = $("#barChart").get(0).getContext("2d");
  var barChart = new Chart(barChartCanvas);
//   window.myBar = barChart.Line(barChartData, {
//     responsive : true,
//     animation: true,
//     barValueSpacing : 5,
//     barDatasetSpacing : 1,
//     tooltipFillColor: "rgba(0,0,0,0.8)",                
    

// });
  var barChartData = areaChartData;
  barChartData.datasets[1].fillColor = "#00a65a";
  barChartData.datasets[1].strokeColor = "#00a65a";
  barChartData.datasets[1].pointColor = "#00a65a";
  var barChartOptions = {
      scaleLabel : "<%='   '+  value%>",
      multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",

          //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
          scaleBeginAtZero: true,
          //Boolean - Whether grid lines are shown across the chart
          scaleShowGridLines: true,
          //String - Colour of the grid lines
          scaleGridLineColor: "rgba(0,0,0,.05)",
          //Number - Width of the grid lines
          scaleGridLineWidth: 1,
          //Boolean - Whether to show horizontal lines (except X axis)
          scaleShowHorizontalLines: true,
          //Boolean - Whether to show vertical lines (except Y axis)
          scaleShowVerticalLines: true,
          //Boolean - If there is a stroke on each bar
          barShowStroke: true,
          //Number - Pixel width of the bar stroke
          barStrokeWidth: 2,
          //Number - Spacing between each of the X value sets
          barValueSpacing: 20,
          //Number - Spacing between data sets within X values
          barDatasetSpacing: 1,
          //String - A legend template
          legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
          //Boolean - whether to make the chart responsive
          responsive: true,
          maintainAspectRatio: false
        };

        barChartOptions.datasetFill = false;
        barChart.Bar(barChartData, barChartOptions);
      });


</script>
