<script>
  $(document).ready(function () {
   $('.edit').click(function(e){
      e.preventDefault();
    $(this).parent().parent().parent().find('.usage').removeAttr("disabled"); // Element(s) are now enabled.
     $(this).hide();
   });
    $('.sidebar-menu li.dashboard').addClass('active');
    // $("#usage_table").dataTable(
    // {
    //   "autoWidth":true,
    // });
  $('.date_usage').val($("#datePicker").val());
  $("#usage_table_wrapper").css("overflow-x","hidden");
  $(function() {
   $("#datePicker").attr('disabled','disabled');
    // $('#datePicker').daterangepicker({
    //   singleDatePicker: true,
    //   showDropdowns: true
    // }); 
  $("#datePicker").on('apply.daterangepicker', function(ev, picker) {

    $('.date_usage').val($("#datePicker").val());
  });

});
});
</script>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
    </h1>
  </section>
  <section class="content" style='padding-left:0px'>
    <?php //var_dump($_SESSION['error']);?>
    <div class="col-md-2" style="margin-bottom:5px;">
     <div class="form-group">
      <label>Date range:</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control pull-right" id="datePicker" value="<?php echo date('m/d/20y');?>">
      </div><!-- /.input group -->
    </div>
  </div>
  <div class="col-md-12 usage-tables">

  <div id='usage-form'>
    
     <!--  <div class="box-header">
        <h3 class='box-title'>Stock</h3>
      </div> -->
      <?php foreach ($view_department_id as $department) :?>

       <?php  
       $items= getModel('items')->getItems($department['department_id']);
       $checkdata = getModel('departments')->checkUsage($department['department_id']);
       $usage = getModel('departments')->getUsageValue();
       ?>
       <?php $count = 1; ?>
       <?php if(isset($items[0])):?>
        <?php if(($count % 2) == 0):?>
            <div class='row'>
            <?php endif;?>
       <form role="form" action="<?php echo URL."departments/usage"?>" method="post" id="usage-table" class ="col-lg-6">
             <div class="box">
               <div class='box-header'>
                 <h3 class='box-title'><?php echo $department['department_name']?></h3>
                 <?php if($checkdata) :?> 
                 <div class='box-tools'>
                 <a href='#' class='edit'><i class="fa fa-fw fa-edit"></i></a>
                 </div>
               <?php endif;?>
               </div>
               <input type="hidden" class="date_usage" name="date_usage"/>
               <input type="hidden" id="department_id" value="<?php echo $department['department_id']?>" name="department_id"/>
               <table class="table table-hover" id="usage_table" style="width:100%; table-layout:fixed">
                <thead>
                  <th class="col-lg-1 text-center form-group">Product</th>
                  <th class="col-lg-2 text-center form-group">Current</th>    
                  <th class="col-lg-2 text-center form-group">Usage</th>

                </thead>
                <tbody>


                  <?php foreach($items as $item):?>

                    <tr style="cursor:pointer" data-url="<?php echo URL."items/view/". $item['item_id']?>" class="form-group">
                      <td class="text-center"><a href="<?php echo URL."items/view/". $item['item_id']?>"><?php echo $item['item_name'];?></a></td>
                      <td class="text-center"><?php echo $item['department_item_current'];?></td>
                      <td class="text-center"> <input type="text" class="form-control usage" <?php if($checkdata) echo 'disabled';?> placeholder="Enter Amount used" name="usage[<?php echo $item['item_id']?>]" id="usage" value="<?php echo isset($usage[$department['department_id']][$item['item_id']])?$usage[$department['department_id']][$item['item_id']]:null?>"></td>
                    </tr>

                  <?php endforeach;?>
                </tbody>
              </table>
              <div class='row'>
              <div class='col-lg-2 pull-right' style='padding-right:22px; padding-bottom:10px'>
                <button <?php if($checkdata) echo 'disabled'?> class="btn btn-flat btn-block btn-primary usage" type="submit" >Save</button>
              </div>
              </div>

              <!-- <button  class="btn btn-block btn-primary edit" id="edit" name="edit">Edit</button><?php endif?> -->
            </div>
          </form>
      <?php if(($count % 2) == 0):?>
          </div>
        <?php endif;?>
        <?php $count++;?>

    <?php endforeach;?>
    
  </div>
</div>



</section>
</div>