<?php loadHelper('notification');?>
<script>
	$(document).ready(function () {
		$('.sidebar-menu li.notification').addClass('active');
	});
</script>
 <?php $access_level ="";
              if($session['user_access_level'] == INVENTORY_MANAGER)
              {
                $access_level = "Inventory Manager";
              }
              elseif($session['user_access_level'] == DEPARTMENT_MANAGER)
              {
                $access_level = "Department Manager";
              }
              elseif($session['user_access_level'] == ASSISTANT)
              {
                $access_level = "Assistant";
              }
              else
              {
                $access_level = "Purchase Manager";
              }
              ?>


<?php $notificationstock = notificationStock();?>
<?php $notificationpurchase = notificationPurchase(); ?>
<?php $notificationeta = notificationETA();?>

<div class="content-wrapper notification-wrapper">

	<section class='content-header'></section>
	<div class="col-lg-12">
		<div class="nav-tabs-custom">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
			<?php if($access_level != "Purchase Manager"):?>
				<li id="stock_li" class="active"><a href="#tab_stock" data-toggle="tab" aria-expanded="true">Stock<span class="label label-warning"><?php echo count($notificationstock);?></span></a></li>
			<?php endif?>
				<li id="purchase_li" class="<?php echo ($access_level == "Purchase Manager")?'active':''?>"><a href="#tab_purchase" data-toggle="tab" aria-expanded="false">Purchases<span class="label label-danger"><?php echo count($notificationpurchase);?></span></a></li>
				<li id="eta_li" class=""><a href="#tab_eta" data-toggle="tab" aria-expanded="false">ETA<span style='right:30px' class="label label-success"><?php echo count($notificationeta);?></span></a></li>
			</ul>
			<div class="tab-content">
			<?php if($access_level != "Purchase Manager"):?>
				<div  class="tab-pane active" id="tab_stock">
					<div style="margin-bottom:5px; margin-top:5px">
						<select id="department_stock" class="form-control" style="margin:0" onchange="FilterStock()">
							<option value="0" selected>All Departments</option>
							<?php if(isset($view_departments)):?>
								<?php foreach ($view_departments as $department):?>
									<option value="<?php echo $department['department_id']?>"><?php echo $department['department_name']?></option>
								<?php endforeach?> 
							<?php endif;?>
						</select> 
					</div>
					<div id="stock">
					</div>

				</div><!-- /.tab-pane -->
			<?php endif?>
				<div class="tab-pane <?php echo ($access_level == "Purchase Manager")?'active':''?>" id="tab_purchase" >
					<div style="margin-bottom:5px; margin-top:5px">
						<select id="item_purchase" class="form-control"  onchange="FilterPurchase()">
							<option value="0" selected ="">All Items</option>
							<?php if(isset($view_items)):?>
								<?php foreach ($view_items as $item):?>
									<option value="<?php echo $item['item_id']?>"><?php echo $item['item_name']?></option>
									<?php $count++;?>
								<?php endforeach?>
							<?php endif?>
						</select> 
					</div>
					<div  id="purchase">
					</div>

				</div><!-- /.tab-pane -->
				<div class="tab-pane" id="tab_eta">
					
					<div  id="eta">
					</div>

				</div><!-- /.tab-pane -->
			</div><!-- /.tab-content -->
		</div>
	</div>
</div>
<script type="text/javascript">
	
$(document).ready(function () {
	$('#stock').load('<?php echo URL . 'notification/FilterStock' ?>');
	$('#purchase').load('<?php echo URL . 'notification/FilterPurchase' ?>');
	$('#eta').load('<?php echo URL . 'notification/FilterETA' ?>');
});

function FilterStock()
{
	var department = $('#department_stock').val();
	$.ajax({
		url:'<?php echo URL.'notification/FilterStock'?>', 
		method: 'POST',
		data:{'department':department},
		success: function(response)
		{
			//alert(response);
			$("#stock").html(response);
		},
		error: function()
		{
			alert('error');
		}
	});
}

function FilterPurchase()
{
	var item = $('#item_purchase').val();
	$.ajax({
		url:'<?php echo URL.'notification/FilterPurchase'?>', 
		method: 'POST',
		data:{'item':item},
		success: function(response)
		{
			$("#purchase").html(response);
		},
		error: function()
		{
			alert('error');
		}
	});
}

// function FilterETA()
// {
// 	var item = $('#item_eta').val();
// 	alert(item);
// 	$.ajax({
// 		url:'<?php echo URL.'notification/FilterETA'?>', 
// 		method: 'POST',
// 		data:{'item':item},
// 		success: function(response)
// 		{
// 			$("#eta").html(response);
// 		},
// 		error: function()
// 		{
// 			alert('error');
// 		}
// 	});
// }
</script>
