<?php $session = Session::getCurrentSession();?>
<ul class="menu" style='  padding-left: 10px;  padding-right: 10px;'>
	<hr>
	<?php if($notificationeta):?>
		<?php foreach($notificationeta as $notification):?>
			<li>

				<?php 
				$data = getModel('notification')->loadData($notification['purchase_id']);
				$item = getModel('items')->loadByID($data['item_id']);

				?>
				<div class='row stock-row'>
					<div class='col-xs-2 col-sm-2 col-md-2 col-lg-1 text-center img-div' style='margin-right:10px'>

						<img src='<?php echo ASSET_URL.'images/eta.png'?>' width="80" height="80"/>
					</div>
					<div class='col-xs-5 col-sm-6 col-md-3'>
						<h4 class='text-green'>ETA</h4>
						<p class='pull-left'><?php echo 'ETA for '.$item["item_name"].' has reached';?></p>
					</div>
					<div class='col-xs-2 col-sm-2 col-md-1 lot_no_button'>
						<a href='javascript:void(0);' class="eta btn btn-primary">View Detail</a>

					</div>
				</div>


				<div id ="etaDiv" class="etaDiv etaDiv_<?php echo $notification['notification_ETA_id']?>">
					<div class='row'>
						<div class='col-lg-6 col-lg-offset-1' style='padding-left: 35px;'>
							<div class='test'>
								<div class='row'>
									<table class ="table">
										<th> Quantity
										</th>
										<th> Vendor
										</th>
										<th> ETA
										</th>
										<tbody>
											<td><?php echo $data['purchase_item_quantity']?></td>
											<td><?php echo (getModel('vendors')->load($data['vendor_id'])[0]['vendor_name'] == "")? 'vendor deleted' : getModel('vendors')->load($data['vendor_id'])[0]['vendor_name'];?></td>
											<td><?php echo $data['purchase_item_ETA']?></td>
										</tbody>
									</table>
								</div>


							</div>
						</div>
					</div>
					<?php if($session['user_access_level'] != 4):?>
						<div class='row'>
							<div class='col-lg-6 col-lg-offset-1' style='padding-left: 20px;'>
								<a class="btn btn-primary ETAaccept" name="accept" class="">Accept</a>
								<a href="<?php echo URL."notification/ETAreject/".$notification['purchase_id']?>" class="btn btn-primary" name="reject" id="reject">Reject</a>
								<a class="btn btn-primary delay" name="delay" id="">Delayed</a>
							</div>
							<div class='col-lg-5 col-lg-offset-1' style='padding-left: 20px;  margin-top: 10px;'>
								<form id="eta-form" action="<?php echo URL."notification/eta/"?>" method="post">

									<input type='hidden' name='eta_id' value='<?php echo $notification["notification_ETA_id"]?>'/>
									<input type='hidden' name='purchase_id' value='<?php echo $notification["purchase_id"]?>'/>
									<input class="col-lg-6 form-control pull-right delay_eta" type ="date" name="eta_date" id="datePicker_eta"  value= "<?php echo $data['purchase_item_ETA']?>"/>
									<input class="btn btn-primary delay_eta" style='margin-top:10px' type="submit" value="Delay" id=""/>
								</form>

								<form class="eta-form_accept" action="<?php echo URL."notification/ETAaccept/"?>" method="post">

									<input type ="hidden" value="<?php echo $notification["purchase_id"]?>" name="purchase_id"/>
									<label>Please Insert LotNo</label>
									<input type="text" class="form-control" placeholder="Enter lot no" name="lot_no" id="lot_no" 
									/> 
									<p class="error" id="error_lot_no" hidden>Please enter lot_no</p>
									<input type="submit" name="submit" id="submit" class="btn btn-primary" value="Save" style='margin-top:10px'/>
									<!-- <input class="btn btn-primary" type="submit"/> -->
									<div class="box-footer">
									</div>
								</form>
							</div>
						</div>
					<?php endif?>


				</div>
				<hr>
			</li>
		<?php endforeach; endif;?>
	</ul>
	<script type="text/javascript">

		$(document).ready(function(){
			$('.datePicker').daterangepicker({
				singleDatePicker: true,
				minDate: new Date(),
				showDropdowns: true
			});


			$(".etaDiv").hide();
			$(".delay_eta").hide();
			$('.eta-form_accept').hide();

			$('.delay').click(function(){
				$(this).parent().parent().parent().find('.delay_eta').slideToggle('slow'); 
				$(this).parent().parent().parent().find('.eta-form_accept').hide();
				$(this).parent().parent().parent().find('.ETAaccept').show();
				$(this).parent().parent().parent().find('.delay').hide();

			});




			$('.eta').click(function(){
				$(this).parent().parent().parent().find('#etaDiv').toggle(); 
				$(this).parent().parent().parent().find('.delay_eta').hide();
				$(this).parent().parent().parent().find('.eta-form_accept').hide();
				$(this).parent().parent().parent().find('.ETAaccept').show();
				$(this).parent().parent().parent().find('.delay').show();
				return false;
			});

			$('.ETAaccept').click(function(){
				$(this).parent().parent().parent().find('.eta-form_accept').slideToggle('slow'); 
				$(this).parent().parent().parent().find('.ETAaccept').hide();
				$(this).parent().parent().parent().find('.delay_eta').hide();
				$(this).parent().parent().parent().find('.delay').show();

			});

			var id = getParameterByName('id');
			if(getParameterByName('type') == 'eta')
			{
				$(".stockDiv").hide();
				$(".purchaseDiv").hide();
				$(".etaDiv").hide();
				$(".delay_eta").hide();
				$('.eta-form_accept').hide();
				$('#tabs li').removeClass('active');
				$('#eta_li').addClass('active');
				$('#tab_purchase').removeClass('active');
				$('#tab_stock').removeClass('active');
				$('#tab_eta').addClass('active');
				$('.etaDiv_'+id).show();
				$('.eta').click(function(){
					var etaDiv = ($(this).parent().parent().parent().find('#etaDiv'));
					//alert($(etaDiv).is(":visible"));
					$(etaDiv + ":hidden").show();
					$(etaDiv + ":visible").show();
					return false;
				});
				$('.delay').click(function(){
					$(this).parent().parent().parent().find('.delay_eta').show();
				});

			}

		});


function getParameterByName(name) {
	name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	results = regex.exec(location.search);
	return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
