<?php $session = Session::getCurrentSession();?>
<script type="text/javascript">
	$(document).ready(function(){
		$('.vendor_select').on('change', function (event) {
			$vendor_select = $(this);
			var vendor = $(this).parent().find('#vendor_select').val(); 
			$.ajax({
			url:'<?php echo URL.'vendors/getVendorInfo'?>', 
			method: 'POST',
			data:{'vendor':vendor},
			success: function(response)
			{
				// var name = "vendor_info_"+
				// $("#vendor_info_"+vendor).empty();

				// $("#vendor_info_"+vendor).html(response);
				$vendor_select.parent().find('.vendor_info').html(response);
				console.log($(this));
			},
			error: function()
			{
				alert('error');
			}
		});
			
		});
	});
	
	
</script>
<ul class="menu" style='  padding-left: 10px;  padding-right: 10px;'>
	<!-- <li class="header">You have <?php echo count($notificationpurchase);?> notifications</li> -->
	<hr>
	<?php if($notificationpurchase):?>
		<?php foreach($notificationpurchase as $notification):?>
			<li><!-- start notification -->

				<?php 
                           // var_dump($notification);
				$item = getModel('items')->loadByID($notification['item_id']);
				$vendors = getModel('vendors')->getVendors($notification['item_id']);
				$alternate_vendors = getModel('vendors')->getCollection();
				?>
				<div class='row stock-row'>
					<div class='col-xs-2 col-sm-2 col-md-2 col-lg-1 text-center img-div' style='margin-right:10px'>

						<img src='<?php echo ASSET_URL.'images/purchase.png'?>' width="80" height="80"/>
					</div>
					<div class='col-xs-5 col-sm-6 col-md-3'>
						<h4 class='text-red'>Purchase Quantity: <?php echo $notification['quantity']?></h4>
						<p class='pull-left'><?php echo 'Purchase '.$notification['quantity']. " qty of ".$item["item_name"];?> </p>
					</div>
					<?php //if($session['user_access_level'] != 4):?>
						<div class='col-xs-2 col-sm-2 col-md-1 lot_no_button'>
							<a class='btn btn-primary vendor' href='javascript:void(0)' >Check Vendor</a>

						</div>
					<?php //endif?>
				</div>



				<div id ="purchaseDiv" class="purchaseDiv purchaseDiv_<?php echo $notification['notification_purchase_id']?>">
					<div class='test'>
						<div class='row'>
							<div class='col-lg-4 col-sm-6'>
								<div class='box'>
									<div class='box-header'>
										<h3>Primary Vendor</h3>
									</div>
									<div class='box-body'>

										<p><?php echo $vendors[0]['vendor_name']?></p>
										<p><?php echo $vendors[0]['vendor_email']?></p>
										<p><?php echo $vendors[0]['vendor_contact']?></p>
									</div>
								</div>
							</div>
							<div class='col-lg-4 col-sm-6'>
								<div class='box'>
									<div class='box-header'>
										<h3>Secondary Vendor</h3>
									</div>
									<div class='box-body'>
										<?php if(isset($vendors[1])):?>
											<p><?php echo $vendors[1]['vendor_name']?></p>
											<p><?php echo $vendors[1]['vendor_email']?></p>
											<p><?php echo $vendors[1]['vendor_contact']?></p>
										<?php endif?>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class='row'>

						<form id="purchase-form" action="<?php echo URL."notification/purchase/"?>" method="post">
							<input type='hidden' name='item_id' value='<?php echo $item["item_id"]?>'/>
							<!-- <input type='hidden' name='vendor_id' value='<?php echo $vendor["vendor_id"]?>'/> -->
							<div class='row rashmi-input col-lg-4'>
								<label>Quantity</label>
								<input type='text' name="purchase_qty" value="<?php echo $notification['quantity']?>" class='form-control'/>
								<label>Vendor</label>
								<select name="vendor_select" id="vendor_select" class='form-control vendor_select'>
									<?php if(isset($vendors[0])):?>

										<?php foreach ($vendors as $vendor):?>
											<option value="<?php echo $vendor['vendor_id']?>"
												<?php echo ($vendor['vendor_id'] == $vendors[0])? selected: null  ?>
												><?php echo $vendor['vendor_name']?></option>
											<?php endforeach ?>
										<?php else:?>
											<?php foreach ($alternate_vendors as $vendor):?>
												<option value="<?php echo $vendor['vendor_id']?>"
													><?php echo $vendor['vendor_name']?></option>
												<?php endforeach ?>
											<?php endif;?>
										</select>
										<div class="vendor_info">
											<!-- <div id='vendor_info_<?php echo $vendors[0]['vendor_id']?>'> -->
												<label>Lead Time : <?php echo $vendors[0]['lead_time']?></label> 
												<br>
												<label>Vendor Note: <?php echo $vendors[0]['vendor_note']?></label>
											<!-- </div> -->
										</div>
										
										<label>ETA</label>
										<input type="date" name="datePicker" class="form-control" id="datePicker" value="<?php echo date('m/d/Y');?>">
										<input type="submit" class="purchase btn btn-primary" style='margin-top:10px' value='Purchase' id="purchase"/>
									</div>
								</form>
							</div>
						</div>
					</li>
					<hr>
				<?php endforeach; endif;?>
			</ul>

			<script type="text/javascript">
				$(document).ready(function(){
					$('.datePicker').daterangepicker({
						singleDatePicker: true,
						minDate: new Date(),
						showDropdowns: true
					});

					$(".purchaseDiv").hide();


					$('.vendor').click(function(){
						$(this).parent().parent().parent().find('#purchaseDiv').slideToggle('slow'); 
						return false;
					});



					var id = getParameterByName('id');
					if(getParameterByName('type') == 'purchase')
					{
						$(".stockDiv").hide();
						$(".purchaseDiv").hide();
						$(".etaDiv").hide();
						$(".delay_eta").hide();
						$('.eta-form_accept').hide();
						$('#tabs li').removeClass('active');
						$('#purchase_li').addClass('active');
						$('#tab_eta').removeClass('active');
						$('#tab_stock').removeClass('active');
						$('#tab_purchase').addClass('active');
						$('.purchaseDiv_'+id).show();

					}

				});


				function getParameterByName(name) {
					name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
					var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
					results = regex.exec(location.search);
					return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
				}
				</script>
