<?php $session = Session::getCurrentSession();?>
<ul class="menu" style='  padding-left: 10px;  padding-right: 10px;'>
	<hr>
	<li>
		<?php if($notificationstock):?>
			<?php foreach($notificationstock as $notification):?>
				<li>
					<?php 
					$item = getModel('items')->loadByID($notification['item_id']);
					$dept = getModel('departments')->loadByID($notification['department_id']);
					$wh = getModel('warehouse')->loadByID($notification['warehouse_id']);
					$lotNo = getModel('warehouse')->loadLotNo($item['item_id'], $wh['warehouse_id'], $notification["quantity"]);
					?>
					<div class='row stock-row'>
						<div class='col-xs-2 col-sm-2 col-md-2 col-lg-1 text-center img-div' style='margin-right:10px'>

							<img src='<?php echo ASSET_URL.'images/stock.png'?>' width="80" height="80"/>
						</div>
						<div class='col-xs-6 col-sm-6 col-md-3' > 
							<div>
								<h4 class='text-red' style="display:inline-block"><?php echo $item["item_name"]?> To </h4>  <h4 class="text-green" style="display:inline-block"> <?php echo $dept["department_name"].' .  ';?></h4>
							</div>
							<div>
								<p class='pull-left'>Stock Quantity: <?php echo $notification["quantity"]?> 
								</p>
							</div>
						</div>
						<?php if($session['user_access_level'] != 4):?>
							<div class='col-xs-1 col-sm-1 col-md-1 lot_no_button'>
								<a href='javascript:void(0);' class="lotNo_btn btn btn-primary">Check Lot Number</a>

							</div>
						<?php endif?>
					</div>


					<div class='row'>
						<div id ="stockDiv" class=" col-md-12 col-lg-6 stockDiv stockDiv_<?php echo $notification['notification_stock_id']?>" >
							<div class='box stock-notification-action'>
								<div class='box-body'>
									<div class='row'>
										<div class='col-md-6'>
											<h4 class="col-lg-12"><strong><?php echo 'Quantity Required: '?></strong><?php echo $notification["quantity"];?></h4>
											<h4 class="col-lg-12"><strong><?php echo 'Warehouse: '?></strong><?php echo $wh["warehouse_name"];?></h4>
											<?php $totalQty = ''; $qtyNeeded =$notification['quantity']; ?>
											<div class="lotNos col-lg-12">
												<?php if($lotNo != false):?>
													<?php foreach ($lotNo as $lot):?>
														<?php if(($lot['quantity'])>=$notification['quantity']):?>
															<h4>
																<strong>
																	<?php echo $qtyNeeded?> Items
																</strong>
																From Lot Number <strong><?php echo $lot['lot_no'];?></strong>
															</h4>
														<?php else:?>
															<h4>
																<strong>
																	<?php if ($qtyNeeded == $notification['quantity'] || $qtyNeeded >= $lot['quantity'] )
																	{
																		echo $lot["quantity"];
																	}
																	else 
																	{
																		echo $qtyNeeded;
																	}
																	?>
																	Items
																</strong>
																from Lot Number <strong><?php echo $lot['lot_no']?></strong>
															</h4>
															<?php $qtyNeeded -= $lot['quantity']; 
															endif;
															$totalQty += $lot['quantity'];
															endforeach;
															endif;?>
														</div>
														<?php if($totalQty < $notification['quantity']):?>
															<?php $unavailable = $notification['quantity'] - $totalQty;?>
															<div class='col-lg-12'>
																<h4><strong><?php echo 'Unavailable Quantity: '?></strong><?php echo $unavailable;?></h4>
															</div>
														<?php endif;?>

													</div>
													<div class='col-md-6'>
														<form action="<?php echo URL."notification/stock/"?>" method="post" style='  margin-left: 15px;margin-right: 30px;'>
															<?php if($totalQty < $notification['quantity']):?>
																<?php $unavailable = $notification['quantity'] - $totalQty;?>

																<label><?php echo 'Quantity to stock: '?></label>
																<input type="text" id="stockQty" name="stockQty" value="<?php echo $totalQty?>" class='form-control stockQty1'/>
																<input type='hidden' name='item_id' value='<?php echo $item["item_id"]?>'/>
																<input type='hidden' name='warehouse_id' value='<?php echo  $wh['warehouse_id']?>'/>
																<input type='hidden' name='quantity' value='<?php echo $notification["quantity"]?>'/>
																<input type='hidden' name='department_id' value='<?php echo $notification["department_id"]?>'/>

															<?php else:?>
																<label><?php echo 'Quantity to stock: '?></label>
																<input type="text" id="stockQty" name="stockQty" value="<?php echo $notification['quantity']?>" class='form-control stockQty1'/>
																<input type='hidden' name='item_id' value='<?php echo $item["item_id"]?>'/>
																<input type='hidden' name='warehouse_id' value='<?php echo  $wh['warehouse_id']?>'/>
																<input type='hidden' name='quantity' value='<?php echo $notification["quantity"]?>'/>
																<input type='hidden' name='department_id' value='<?php echo $notification["department_id"]?>'/>

															<?php endif?>
															<label></label>
															<input type="submit" class="stock_btn form-control pull-right btn btn-primary" id="stock_btn" value="Stock"></input>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</li>

							<hr>

						<?php endforeach; endif;?>
					</li> 

				</ul>

				<script type="text/javascript">
					$(document).ready(function(){

						$(".stockQty1").each(function(){
							if($(this).parent().find("#stockQty").val() == "")
							{
								$(this).parent().find("#stockQty").attr("readonly", true);
							}
						}); 



						$(".stockDiv").hide();

						$('.stock_btn').click(function(){
							return true;
						});
						$('.lotNo_btn').click(function(){
							$(this).parent().parent().parent().find('#stockDiv').slideToggle('slow'); 
							return false;
						});

						

						var id = getParameterByName('id');
						if(getParameterByName('type') == 'stock')
						{
							$(".stockDiv").hide();
							$(".purchaseDiv").hide();
							$(".etaDiv").hide();
							$(".delay_eta").hide();
							$('.eta-form_accept').hide();
							$('#tabs li').removeClass('active');

							$('#stock_li').addClass('active');
							$('#tab_purchase').removeClass('active');
							$('#tab_eta').removeClass('active');
							$('#tab_stock').addClass('active');
							$('.stockDiv_'+id).show();

						}
						
						
					});


function getParameterByName(name) {
	name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	results = regex.exec(location.search);
	return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>