        <script type="text/javascript">
            $(document).ready(function () {
                $('.sidebar-menu li.items').addClass('active');
                $("#item_table").dataTable(
                {
                    "columns": [

                    null,
                    null,
                    null,
                    { "searchable": false }
                    ] ,
                    "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -1 ] }
            ],
            <?php if(count($items) > 10):?>
"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
<?php else:?>
"lengthMenu": [[10], [10]],
<?php endif;?>
                    responsive: true
                // "bSort":false
            });

                $("#item_table_wrapper").css("overflow-x","hidden");
            });
         // $(document).on('click', 'table.table tr', function(){
         //    window.location.href = $(this).data('url');
         //  });

        
    </script>
    <?php $session = Session::getCurrentSession();?>
    <?php if($lotnos):?>
     <form role="form" action="<?php echo URL."lotno/save"?>" method="post" id="lotno-table" class ="col-lg-6 no-padding">
              <div class="box">
               <div class='box-header'>
                 <h3 class='box-title'><?php echo $lotnos[0]['item_name']?></h3>
               </div>
               <table class="table table-hover" id="usage_table" style="width:100%; table-layout:fixed">
                <thead>
                  <th class="col-lg-1 text-center form-group">LotNo</th>
                  <th class="col-lg-1 text-center form-group">Quantity</th>    

                </thead>
                <tbody>


                  <?php foreach($lotnos as $lotno):?>
                    <tr class="form-group">
                    <input type="hidden" name="warehouse" value="<?php echo $lotno['warehouse_id'];?>"/>
                    <input type="hidden" name="item" value="<?php echo $lotno['item_id'];?>"/>
                      <td class="text-center"><?php echo $lotno['lot_no'];?></td>
                      <td class="text-center"> <input type="text" class="form-control usage" name="quantity[<?php echo $lotno['lot_no']?>]" id="quantity" value="<?php echo $lotno['quantity']?>"></td>
                    </tr>

                  <?php endforeach;?>

                </tbody>
              </table>
               <?php if($session['user_access_level'] == 1):?>
              <div class='row'>
                <div class='col-lg-2 pull-right' style='padding-right:22px; padding-bottom:10px'>
                  <button class="btn btn-flat btn-block btn-primary usage" type="submit" >Save</button>
                </div>
              </div>

            </div>
          <?php endif?>

          </form>
<?php else:?>
  No availability
  <?php endif;?>