<?php loadHelper('head');?>
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta information -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!-- Title-->
	<title>CAPLET |  Admin HTML Themes</title>
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="assets/ico/favicon.ico">
	<!-- CSS Stylesheet-->
	<?php addCSS('bootstrap/bootstrap.min.css')?>
	<?php addCSS('bootstrap/bootstrap-themes.css')?>
	<?php addCSS('style.css')?>
<!-- <?php addCSS('style.css')?>
<?php addCSS('style.css')?>
<?php addCSS('style.css')?>
<?php addCSS('style.css')?>
<?php addCSS('style.css')?> -->
<!-- <link type="text/css" rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="assets/css/bootstrap/bootstrap-themes.css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="assets/css/style.css" /> -->

<!-- Styleswitch if  you don't chang theme , you can delete -->
<!-- <link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="assets/css/styleTheme1.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="assets/css/styleTheme2.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="assets/css/styleTheme3.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="assets/css/styleTheme4.css" />
-->
</head>
<body class="full-lg">
	<div id="wrapper">

		<div id="main">


			<div id="content">

				<div class="row">

					<div class="col-lg-12" >


						<h1><strong>Wizard</strong>  [validate]</h1>
						<label class="color" style="background-color:#edece5"> Bootstrap Wizard </label>
						<form id="validate-wizard" class="wizard-step" action="<?php echo URL.'login/registerUser'?>" method="post" enctype="multipart/form-data">
							<ul>
								<!-- <li><a href="#step1" data-toggle="tab">1</a></li> -->
								<li><a href="#step1" data-toggle="tab">1</a></li>
								<li><a href="#step2" data-toggle="tab">2</a></li>
								<li><a href="#step3" data-toggle="tab">3</a></li>
								<li><a href="#step4" data-toggle="tab">4</a></li>
							</ul>
							<div class="progress progress-stripes progress-sm" style="margin:0">
								<div class="progress-bar" data-color="theme"></div>
							</div>
							<div class="tab-content">
										<!-- <div class="tab-pane fade" id="step1" parsley-validate parsley-bind> 
											<h3>Login Credentials</h3><br>
											<div class="form-group">
												<label class="control-label">Email Address</label>
												<input type="text" class="form-control" parsley-type="email" parsley-required="true" placeholder="john@email.com">
											</div>
											<div class="form-group">
												<label class="control-label">Password</label>
												<input type="password" class="form-control"  parsley-rangelength="[4,8]"  parsley-required="true" parsley-trigger="keyup" placeholder="4-8 Characters">
											</div>
										</div> -->
										<div class="tab-pane fade" id="step1" parsley-validate parsley-bind>
											<h3>Personal Info</h3><br>
											<div class="form-group">
												<label class="control-label">Company</label>
												<select  class="selectpicker form-control" name="company" id="company" onchange="getDesignation()" required="">
													<option value="">Choose..</option>
													<?php foreach ($view_companies as $company) :?>
														<option value="<?php echo $company['company_id']?>"><?php echo $company['company_name']?></option>
													<?php endforeach?>
												</select>
											</div>
											<div class="form-group">
												<label class="control-label">Designation</label>
												<!-- <?php $designations = getModel('designation')->getCollection()?> -->
												<select  class="selectpicker form-control" name="company">
													<?php foreach ($view_companies as $company) :?>
														<option value="<?php echo $company['company_id']?>"><?php echo $company['company_name']?></option>
													<?php endforeach?>
												</select>
											</div>


											<div class="form-group row">
												<div class="col-md-6">
													<label class="control-label">Full Name</label>
													<input type="text" class="form-control" id="fullname" parsley-required="true" placeholder="Your full name" name="firstname">
												</div>
												<div class="col-md-6">
													<label class="control-label">Last Name</label>
													<input type="text" class="form-control"  placeholder="Your last name" name="lastname">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label">User name</label>
												<input type="text" class="form-control"  parsley-trigger="keyup"  parsley-rangelength="[5,15]"  parsley-required="true" parsley-trigger="keyup" placeholder="5-15 Characters" name="username">
											</div>
											<div class="form-group">
												<label class="control-label">Email Address</label>
												<input type="text" class="form-control" parsley-type="email" parsley-required="true" placeholder="john@email.com" name="email">
											</div>
											<div class="form-group">
												<label class="control-label">Password</label>
												<input type="password" class="form-control" id="pword"  parsley-trigger="keyup"  parsley-rangelength="[4,8]"  parsley-required="true" placeholder="4-8 Characters" name="password">
											</div>
											<div class="form-group">
												<label class="control-label">Confirm Password</label>
												<input type="password" class="form-control"  parsley-trigger="keyup"  parsley-equalto="#pword" placeholder="Confirm Password" parsley-error-message="Password don't match" >
											</div>
											<div class="form-group">
												<label class="control-label">Gender</label>
												<!-- <div class="col-md-9"> -->
												<select class="form-control" name="gender">
													<option>Male</option>
													<option>Female</option>
												</select>
												<!-- </div> -->
											</div>
											<div class="form-group">
												<label class="control-label ">Photo</label>
												<div class="">
													<div class="fileinput fileinput-new" data-provides="fileinput"><input type="hidden" value="" name="photo">
														<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
															<img data-src="assets/plugins/holder/holder.js/100%x100%/text:Preview" alt="...">
														</div>
														<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"></div>
														<!-- //fileinput-preview-->
														<div>
															<span class="btn btn-default btn-file">
																<span class="fileinput-new">Select image</span>
																<span class="fileinput-exists">Change</span>
																<input type="file" name="">
															</span>
															<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
																<i class="fa fa-trash-o"></i> Remove
															</a>
														</div>
													</div><!-- //fileinput-->

												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="step2">
											<h3>Address Info</h3><br>
											<div class="form-group">
												<label class="control-label">Temporary Address Line</label>
												<textarea class="form-control"  parsley-trigger="keyup" rows="3" placeholder="Enter  your address" name="temp_add"></textarea>
											</div>
											<div class="form-group">
												<label class="control-label">Permanent Address Line</label>
												<textarea class="form-control"  parsley-trigger="keyup" rows="3" placeholder="Enter  your address" name="perm_add"></textarea>
											</div>
											<div class="form-group row">
												<div class="col-md-4">
													<label class="control-label">City</label>
													<input class="form-control" parsley-required="true" placeholder="Current city" name="city">
												</div>
												<div class="col-md-4">
													<label class="control-label">Nationality</label>
													<select  class="selectpicker form-control" name="nationality">
														<option value="Nepal">Nepal</option>
														<option value="US">US</option>
													</select>
												</div>
												<div class="col-md-4">
													<label class="control-label">Zip Code</label>
													<input type="text" class="form-control" parsley-required="true" name="zipCode">
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="step3">
											<h3>Company Info</h3><br>
											<div class="form-group">
												<label class="control-label">Company</label>
												<select  class="selectpicker form-control" name="company" onchange="getDesignation()" required="">
													<option value="">Choose..</option>
													<?php foreach ($view_companies as $company) :?>
														<option value="<?php echo $company['company_id']?>"><?php echo $company['company_name']?></option>
													<?php endforeach?>
												</select>
											</div>

											<div class="form-group">
												<label class="control-label">Designation</label>
												<?php $designations = getModel('designation')->getCollection()?>
												<select  class="selectpicker form-control" name="company">
													<?php foreach ($view_companies as $company) :?>
														<option value="<?php echo $company['company_id']?>"><?php echo $company['company_name']?></option>
													<?php endforeach?>
												</select>
											</div>
										</div>
										<div class="tab-pane fade" id="step4">
											<h3>Thank You <span></span> .....</h3><br>
											<button class="btn btn-theme-inverse " type="submit" id="register">Register</button>
										</div>
										<hr>
										<footer class="row">
											<div class="col-sm-4">
												<section class="wizard">
													<button type="button"  class="btn btn-inverse previous"><i class="fa fa-angle-left"></i> Previous</button>
													<button type="button"  class="btn btn-theme next">Next <i class="fa fa-angle-right"></i></button>
												</section>
											</div>
											<div class="col-sm-8 align-lg-right"><div class="wizard-status">Wizard step : <span></span></div></div>
										</footer>
									</div>
								</form>


							</div>
							<!-- //content > row > col-lg-12 -->

						</div>
						<!-- //content > row-->
						
					</div>
					<!-- //content-->


				</div>
				<!-- //main-->


			</div>
			<!-- //wrapper-->


<!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->

<!-- Jquery Library -->
<?php addJS('jquery.min.js')?>
<?php addJS('jquery.ui.min.js')?>
<?php addJS('bootstrap/bootstrap.min.js')?>
<?php addJS('modernizr/modernizr.js')?>
<?php addJS('mmenu/jquery.mmenu.js')?>
<?php addJS('styleswitch.js')?>
<?php addJS('form/form.js')?>
<?php addJS('datetime/datetime.js')?>
<?php addJS('chart/chart.js')?>
<?php addJS('pluginsForBS/pluginsForBS.js')?>
<?php addJS('miscellaneous/miscellaneous.js')?>
<?php addJS('caplet.custom.js')?>
<script>
	$(document).ready(function() {
		$('#rootwizard').bootstrapWizard({
			tabClass:"nav-wizard",
			onTabShow: function(tab, navigation, index) {
				tab.prevAll().addClass('completed');
				tab.nextAll().removeClass('completed');
				if(tab.hasClass("active")){
					tab.removeClass('completed');
				}
				var $total = navigation.find('li').length;
				var $current = index+1;
				var $percent = ($current/$total) * 100;
				$('#rootwizard').find('.progress-bar').css({width:$percent+'%'});
				$('#rootwizard').find('.wizard-status span').html($current+" / "+$total);
			}
		});

		$('#validate-wizard').bootstrapWizard({
			tabClass:"nav-wizard",
			onNext: function(tab, navigation, index) {
				var content=$('#step'+index);
				if(typeof  content.attr("parsley-validate") != 'undefined'){
					var $valid = content.parsley( 'validate' );
					if(!$valid){
						return false;
					}
				};
			// Set the name for the next tab
			$('#step4 h3').find("span").html($('#fullname').val());
		},
		onTabClick: function(tab, navigation, index) {
			$.notific8('Please click <strong>next button</strong> to wizard next step!! ',{ life:5000, theme:"danger" ,heading:" Wizard Tip :); "});
			return false;
		},
		onTabShow: function(tab, navigation, index) {
			tab.prevAll().addClass('completed');
			tab.nextAll().removeClass('completed');
			if(tab.hasClass("active")){
				tab.removeClass('completed');
			}
			var $total = navigation.find('li').length;
			var $current = index+1;
			var $percent = ($current/$total) * 100;
			$('#validate-wizard').find('.progress-bar').css({width:$percent+'%'});
			$('#validate-wizard').find('.wizard-status span').html($current+" / "+$total);
		}
	});

	});

	function getDesignation()
	{
		var company = $("#company").val();
	}
</script>
</body>
</html>