.error{
	color: red;
	display: none;
}
.stockDiv, .purchaseDiv, .etaDiv{
	display: none;
}

#parlist-form
{
	padding-left: 0px;
	padding-right:0px;
}
#usage-form
{
	padding-left: 0px;
	padding-right:0px;
}
.navbar-nav>.notifications-menu>.dropdown-menu.rashmi  {
	border: 1px solid red;
	width: 500px;
}
.rashmi-input{
		margin: 0px;

	}
	.content-wrapper, .right-side
	{
		overflow: hidden;
	}

	.hdc_inventory .main-header .navbar {background-color: #00AFA6}
	.skin-green .main-header li.user-header{background-color: #00AFA6}

	.hdc_inventory .main-header .logo:hover,.hdc_inventory .main-header .logo, .hdc_inventory .main-header .navbar .sidebar-toggle:hover{background-color: #30bbbb}
#usage-form form{padding-left:0px;}
.usage-tables{padding-right:0;}
.stock-row .lot_no_button{padding-top:25px;}
#stockDiv input#stock{  margin-top: 10px;}
.notification-wrapper #tabs a{min-width:110px;}
.notification-wrapper span.label{  position: absolute;  right: 6px;  top: 12px;}
@media screen and (max-width: 767px){

#usage-form .row{margin-left:0; margin-right:0;}
	.navbar-nav>.notifications-menu>.dropdown-menu.rashmi  {
		width: 100%;
		left: 0;
	}
	.rashmi-input{
		margin: 10px;
	}
	.rashmi-input input{
		margin-bottom: 15px;
	}
	 .pull-xs-right {
        float: right !important;
    }
    .pull-xs-left {
        float: left !important;
    }
}
@media screen and (max-width: 500px){
.stock-row h4,.stock-notification-action h4{
  font-size: 14px;
}


.stock-notification-action form{margin-left:15px !important;}
.stock-row div{font-size:12px;}
.stock-row .img-div{display:none;}
}

@media screen and (max-width: 400px){
.lemonsoda .col-xs-6{ width: 100% !important;}
}

li{
	list-style: none;
	  display: list-item;
  text-align: -webkit-match-parent;
}

@media screen and (max-width: 1200px){
	.dailyusage .col-lg-2{padding-left:0; padding-right:0;}
}