<script>
  $(document).ready(function () {
    $('.edit').click(function(e){
     e.preventDefault();
     $(this).parent().parent().parent().find('.usage').removeAttr("disabled"); // Element(s) are now enabled.
     $(this).hide();
   });
    $('.sidebar-menu li.daily_usage').addClass('active');
    // $("#usage_table").dataTable(
    // {
    //   "autoWidth":true,
    // });
  $('.date_usage').val($("#datePicker").val());
  $("#usage_table_wrapper").css("overflow-x","hidden");
  $(function() {
   $("#datePicker").attr('disabled','disabled');
    // $('#datePicker').daterangepicker({
    //   singleDatePicker: true,
    //   showDropdowns: true
    // }); 
  $("#datePicker").on('apply.daterangepicker', function(ev, picker) {

    $('.date_usage').val($("#datePicker").val());
  });

});
});
</script>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Daily Usage
    </h1>
  </section>
   <?php echo Session::showSuccessMessages();?>
<?php echo Session::showErrorMessages();?>
  <section class="content dailyusage" >
  <!-- <div style='padding-right:0; padding-left:0px;'> -->

      <div class="col-lg-2" style='padding-left:0px;'>
       <div class="form-group">
        <label>Date range:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control pull-right" id="datePicker" value="<?php echo date('m/d/Y');?>">
        </div><!-- /.input group -->
      </div>
    </div>

    <div class="col-lg-2" >
      <div class="form-group">
        <label>Select Department</label>
        <select id="departments" class="form-control"  onchange="FilterDepartments()">
          <option value="0" selected ="">All Departments</option>
          <?php if(isset($view_departments)):?>
            <?php foreach ($view_departments as $department):?>
              <option value="<?php echo $department['department_id']?>"><?php echo $department['department_name']?></option>
            <?php endforeach?>
          <?php endif;?>
        </select> 
      </div>
    </div>
    <!-- </div> -->
  <div class="col-md-12 usage-tables">
    <!-- <div class="box"> -->
     <!--  <div class="box-header">
        <h3 class='box-title'>Stock</h3>
      </div> -->
      <div id="usage-form">
        <?php $count = 1; ?>
        <?php foreach ($view_departments as $department) :?>
         <?php  
         $items= getModel('items')->getItems($department['department_id']);
         $checkdata = getModel('departments')->checkUsage($department['department_id']);
         $usage= getModel('departments')->getUsageValue();
         ?>

         <?php if(isset($items[0])):?>
          <?php if(($count % 2) != 0):?>
            <div class='row'>
            <?php endif;?>
            <form role="form" action="<?php echo URL."departments/usage"?>" method="post" id="" class ="col-lg-6 usage-table">
             <div class="box">
               <div class='box-header'>
                 <h3 class='box-title'><?php echo $department['department_name']?></h3>
                 <?php if($checkdata) :?> 
                 <div class='box-tools'>
                 <a href='#' class='edit'><i class="fa fa-fw fa-edit"></i></a>
                 </div>
               <?php endif;?>
               </div>
               <input type="hidden" class="date_usage" name="date_usage"/>
               <input type="hidden" id="department_id" value="<?php echo $department['department_id']?>" name="department_id"/>
               <table class="table table-hover" id="usage_table" style="width:100%; table-layout:fixed">
                <thead>
                  <th class="col-lg-1 text-center form-group">Product</th>
                  <th class="col-lg-2 text-center form-group">Current_Remaining</th>    
                  <th class="col-lg-2 text-center form-group">Usage</th>

                </thead>
                <tbody>


                  <?php foreach($items as $item):?>

                    <tr  data-url="<?php echo URL."items/view/". $item['item_id']?>" class="form-group">
                    <?php $usage_item = isset($usage[$department['department_id']][$item['item_id']])?$usage[$department['department_id']][$item['item_id']]:0;
                      $current = $item['department_item_current'];
                    $actual_current = $usage_item + $current;
                    ?>
                      <td class="text-center"><input type="hidden" class="actual_current" name="actual_current[<?php $item['item_id']?>]" value="<?php echo $actual_current?>"/><a href="<?php echo URL."items/view/". $item['item_id']?>"><?php echo $item['item_name'];?></a></td>
                      <td class="text-center"><input type="hidden" class="current" value="<?php echo $item['department_item_current'];?>"/><?php echo $item['department_item_current'];?></td>
                      <td class="text-center"> <input type="text" class="form-control usage" <?php if($checkdata) echo 'disabled';?> placeholder="Enter Amount used" name="usage[<?php echo $item['item_id']?>]" id="usage" value="<?php echo isset($usage[$department['department_id']][$item['item_id']])?$usage[$department['department_id']][$item['item_id']]:0?>">
                       <p class="error error_usage">Please enter value greater than 0</p>
                        <p class="error error_usage_current">Please enter value less than current</p>
                        <p class="error error_usage_total">You entered greater value than current</p>
                       </td>

                    </tr>

                  <?php endforeach;?>
                </tbody>
              </table>
              <div class='row'>
              <div class='col-lg-2 col-md-2 pull-right' style='min-width:150px; margin-bottom:8px;margin-right:20px'>
                <button <?php if($checkdata) echo 'disabled'?> class="btn btn-flat btn-block btn-primary usage" type="submit" >Save</button>
              </div>
              </div>

              <!-- <button  class="btn btn-block btn-primary edit" id="edit" name="edit">Edit</button><?php endif?> -->
            </div>
          </form>
          <?php if(($count % 2) == 0):?>
          </div>
        <?php endif;?>
        <?php $count++;?>
      <?php //endif?>

    <?php endforeach;?> 
  </div>

  <!-- </div> -->
</div>



</section>
</div>

<script type="text/javascript">
//    $(document).ready(function () {
//      var department = $('#departments').val();
//     $('#usage-form').load('<?php echo URL . 'items/filterItemsDept/department' ?>');
// });


function FilterDepartments()
{
  var department = $('#departments').val();
  if(department == 0)
  {
    location.reload();
  }
  else
  {

    $.ajax({
      url:'<?php echo URL.'items/filterItemsDept'?>', 
      method: 'POST',
      data:{'department':department},
      success: function(response)
      {
          //alert(response);
          $("#usage-form").html(response);
        },
        error: function()
        {
          alert('error');
        }
      });
  }
}

</script>