<script>
    $(document).ready(function () {
        $('.sidebar-menu li.departments').addClass('active');
        $("#department_table").dataTable({
         
            "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -1 ] }
            ],
            <?php if(count($view_departments) > 10):?>
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        <?php else:?>
        "lengthMenu": [[10], [10]],
    <?php endif;?>
    responsive: true
                // "bSort":false
            });
        $("#department_table_wrapper").css("overflow-x","hidden");
    });
</script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Departments
        </h1>
    </section>
    <?php echo Session::showSuccessMessages();?>
    <?php echo Session::showErrorMessages();?>
    <section class="content" style='padding-left:0px'>
    <!-- <div class="col-md-2" style="margin-bottom:5px;">
            <div class="input-group-btn">
                <a href="<?php echo URL .'departments/addDepartment'?>">
                  <button class="btn btn-success" id="addDepartment"><i class="fa fa-plus"></i></button>
              </a>
          </div>
      </div> -->
      <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <!-- <h3 class='box-title'>Stock</h3> -->
            </div>
            <div class="box-body table-responsive ">
              <table id="department_table" class="table table-hover table-striped table-bordered" width="100%" >
                <thead>
                    <th class="col-lg-1 text-center">Department ID</th>
                    <th class="col-lg-2 text-center">Department Name</th>    
                    <th class="col-lg-2 text-center">Phone</th>
                    <th class="col-lg-2 text-center">Manager</th>
                    

                </thead>
                <tbody>
                 <?php foreach ($view_departments as $department) :?>
                    <tr>
                        <td class="text-center"><?php echo $department['department_id'];?></td>
                        <td class="text-center"><a href="<?php echo URL."departments/view/". $department['department_id']?>"><?php echo $department['department_name'];?></a></td>
                        <td class="text-center"><?php echo $department['user_phone'];?></td>
                        <td class="text-center"><?php echo $department['user_name'];?></td>
                        
                    </tr>
                <?php endforeach?>
                
            </tbody></table>
        </div>
    </div>
</div>
</section>
</div>