<script type="text/javascript">
  $(document).ready(function(){

     $('.sidebar-menu li.departments').addClass('active');
   });
  </script>
<div class="content-wrapper">
<?php echo Session::showSuccessMessages();?>
<?php echo Session::showErrorMessages();?>
  <section class='content-header'></section>
  <div class="col-lg-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Edit Department <?php echo $view_department['department_name']?></h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <form role="form" action="<?php echo URL."departments/edit/". $view_department['department_id']?>" method="post" enctype="multipart/form-data" id="department_form">

          <!-- text input -->
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="department_name" id="department_name" value="<?php echo $view_department['department_name'];?>" 
            > 
            <p class="error" id="error_name">Please Enter a department name</p>
          </div>

          
          <div class="form-group">
            <label>Manager</label>
            <select id="user" class="form-control" style="margin:0" name="user" >
              <option value="0" disabled selected>Select Manager</option>
              <?php if(isset($view_users)):?>
                <?php foreach ($view_users as $user):?>

                  <option value="<?php echo $user['user_id']?>"
                    <?php echo ($user['user_id'] == $view_department['user_id'])?'selected':null?>
                    >
                    <?php echo $user['user_name']?></option>
                  <?php endforeach?>
                <?php endif;?>
              </select> 
              <p class="error" id="error_manager">Please select a manager</p>
            </div>
            <div class="box-footer">
              <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div><!-- /.box-body -->
      </div>
    </div>
  </div>