<script>
	$(document).ready(function () {
		$('.sidebar-menu li.departments').addClass('active');
		$("#department_table").dataTable(
		{
			"autoWidth":true,
		});

		$("#department_table_wrapper").css("overflow-x","hidden");

	});
</script>
<div class="content-wrapper">
	<section class='content-header'>
	</section>
<!-- 	<div class='col-lg-6'>
		<div class='box'>
			<div class='box-header text-center'>
				<p><?php echo $view_department['department_name']?></p>
			</div>
			<div class='box-body'>
				<p>Manager Name : <?php echo (isset($view_department['user_name']))?$view_department['user_name']:null?></p>
				<p>Phone Number : <?php echo (isset($view_department['user_phone']))?$view_department['user_phone']:null?></p>
			</div>
		</div>


	</div> -->

<section class='invoice'>
<div class='row page-header'>
<div class='col-lg-4 col-md-4 col-xs-4 '>
<h1><?php echo $view_department['department_name']?></h1>
</div>
<div class='col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3 col-sm-8 col-xs-12'>
<h4 class='pull-right pull-xs-left'>Manager : <strong><?php echo (isset($view_department['user_name']))?$view_department['user_name']:null?></strong></h4>
</div>
<div class='col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3  col-sm-8 col-xs-12'>
<h4 class='pull-right pull-xs-left'>Phone Number : <strong><?php echo (isset($view_department['user_phone']))?$view_department['user_phone']:null?></strong></h4>
</div>
</div>
				<div class="table-responsive no-padding">
					<table class="table table-hover" id="department_table">
						<thead>
							<th class="col-lg-2 text-center">Product Name</th>    
							<th class="col-lg-2 text-center">Min</th>
							<th class="col-lg-2 text-center">Max</th>
							<th class="col-lg-2 text-center">Current</th>
						</thead>
						<tbody>
							<?php foreach($view_items as $item):?>
								<tr>
									<td class="text-center"><a href="<?php echo URL."items/view/".$item["item_id"]?>"><?php echo $item['item_name'];?></a></td>
									<td class="text-center"><?php echo $item['department_item_min'];?></td>
									<td class="text-center"><?php echo $item['department_item_max'];?></td>
									<td class="text-center"><?php echo $item['department_item_current'];?></td>
								</tr>
							<?php endforeach;?>
						</tbody></table>
					</div>
</section>
</div>



	
