<script type="text/javascript">
  $(document).ready(function() { 
   $('.sidebar-menu li.items').addClass('active');
   if($("#item_img").attr('src'))
   {
     $("#clear").show();
   }

   if($('#user_img').length)
   {
    var image_path = $("#item_img").attr('src');
    var image_name = image_path.substr(image_path.lastIndexOf('/') + 1);
    $('#hidden_photo').val(image_name);
  }
  $('#primary_vendor').on('change', function (event) {
    if($('#primary_vendor option:last').is(':selected')) {
     var data = '<?php echo URL?>'+'vendors/addVendor';
     ajaxVendorPrimary(data);
   }
 });

  $('#secondary_vendor').on('change', function (event) {
   if($('#secondary_vendor option:last').is(':selected')) {
     var data = '<?php echo URL?>'+'vendors/addVendor';
     ajaxVendorSecondary(data);
   }
 });
}); 

  function uploadPhoto(image_file)
  {
    var file_data = $('#imageInput').prop('files')[0];   
    var form_data = new FormData();                  
    form_data.append('image_file', file_data);

    $.ajax({
      url:'<?php echo URL.'system/processupload.php'?>',
    target: '#output',   // target element(s) to be updated with server response 
    dataType: 'text',  // what to expect back from the PHP script, if anything
    cache: false,
    contentType: false,
    processData: false,
    method : 'POST',
    data : form_data,
    success: function(response)
    {
//      response = '<?php echo UPLOAD_URL.'items/'?>' +response;
response = '<?php echo UPLOAD_URL?>' +response;
              //alert(response);
              afterSuccess(response);
            },
    //success: afterSuccess,  // post-submit callback 
    resetForm: true 
  });
  }

  function ajaxVendorSecondary(data)
  {
    var queryString = $('#items_form').formSerialize();
    window.location.href = data + "?"+'addItems=1&edit=1&vendor=2&test=1&' + queryString;

  }

  function ajaxVendorPrimary(data)
  {
    var queryString = $('#items_form').formSerialize();
    window.location.href = data + "?"+'addItems=1&edit=1&vendor=1&test=1&' + queryString;

  }

</script>

<div class="content-wrapper">
  <section class='content-header'></section>
  <?php echo Session::showSuccessMessages();?>
  <?php echo Session::showErrorMessages();?>
  <div class="col-lg-12">
    <div class="box">
      <?php 
      $department_id = explode(',',$view_item['department_id']);
      $vendor_id = explode(',',$view_item['vendor_id']);
      ?>
      <div class="box-header with-border">
        <h3 class="box-title">Edit Item <?php echo $view_item['item_name']?></h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <form role="form" action="<?php echo URL."items/edit/". $view_item['item_id']?>" method="post" id="items_form">
          <!-- text input -->
          <input type="hidden" class="form-control" placeholder="Enter Item Name" name="item_id" id="item_id" 
          value="<?php echo $view_item['item_id']?>"?>
          <div class="form-group">
            <label>Item Name</label>
            <input type="text" class="form-control" placeholder="Enter Item Name" name="item_name" id="item_name" 
            value="<?php echo $view_item['item_name'];?>"> 
            <p class="error" id="error_name">Please enter item name</p>
          </div>
          <div class="form-group">
            <input name="image_file" id="imageInput" type="file" name="imageInput"/>
            <img src="images/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
          </div>
          <div class="form-group">
           <i id="clear" class="fa fa-times-circle" style="cursor:pointer; float:left"></i>
           <div id="output">
            <input type="hidden" name="photo" id="hidden_photo"  />
            <?php if(isset($view_item['photo'])):?>
              <img src = "<?php echo UPLOAD_URL. $view_item['photo']?> " id="item_img"/>
            <?php endif?>
          </div>
        </div>
        <div class="form-group">
          <label>Select Primary Vendor</label>
          <select id="primary_vendor" class="form-control" style="margin:0" name="primary_vendor" >
            <option value="0" disabled selected></option>
            <?php if(isset($view_vendors)):?>
              <?php foreach ($view_vendors as $vendor):?>

                <option value="<?php echo $vendor['vendor_id']?>"
                  <?php if(isset($_SESSION['items']['primary_vendor'])):?>
                    <?php echo ($vendor['vendor_id']== $_SESSION['items']['primary_vendor'])?'selected': null;?>
                  <?php else:?>
                    <?php if(!isset($vendor_id[0]))
                    {
                      $vendor_id[0] = "0";
                    }
                    ?>
                    <?php echo ($vendor['vendor_id'] == $vendor_id[0])?'selected':null;?>
                  <?php endif;?>
                  >
                  <?php echo $vendor['vendor_name']?></option>
                <?php endforeach?>
                <option class="new_vendor" id="new_vendor_p"> Add a new vendor </option>
              <?php endif;?>
            </select> 
            <p class="error" id="error_primary_vendor">Please select a vendor</p>
          </div>
          <div class="form-group">
            <label>Select Secondary Vendor</label>
            <select id="secondary_vendor" class="form-control" style="margin:0" name="secondary_vendor" >
              <option value="0" disabled selected></option>
              <?php if(isset($view_vendors)):?>
                <?php foreach ($view_vendors as $vendor):?>

                  <option value="<?php echo $vendor['vendor_id']?>" 
                    <?php if(isset($_SESSION['items']['secondary_vendor']))
                    {
                     echo ($vendor['vendor_id']== $_SESSION['items']['secondary_vendor'])?'selected': null;
                   }
                   else
                   { 
                    if(!isset($vendor_id[1]))
                    {
                      $vendor_id[1] = "0";
                    }
                    echo ($vendor['vendor_id'] == $vendor_id[1])?'selected':null;
                  }

                  ?>


                  >
                  <?php echo $vendor['vendor_name']?></option>
                <?php endforeach?>
                <option class="new_vendor" id="new_vendor_s"> Add a new vendor </option>
              <?php endif;?>
            </select> 
            <p class="error" id="error_secondary_vendor">Please select a vendor</p>
          </div>
          <!-- select -->
          <?php unset($_SESSION['items']['primary_vendor']);
          unset($_SESSION['items']['secondary_vendor']);
          ?>
          <div class="form-group">
            <label>Select Warehouse</label>
            <input type='hidden' name='department' value="<?php echo $view_item['department_id']?>"/>
            <select id="warehouse" class="form-control" style="margin:0" onchange="FilterProducts()" name="warehouse" >
              <option value="0" selected disabled="">Warehouse</option>
              <?php if(isset($view_warehouses)):?>
                <?php foreach ($view_warehouses as $warehouse):?>
                 <option value="<?php echo $view_item['warehouse_id'] ?>"
                   <?php echo ($warehouse['warehouse_id'] == $view_item['warehouse_id'])?'selected':null?>

                   >
                   <?php echo $warehouse['warehouse_name']; ?></option>
                   <!-- <option value="<?php echo $warehouse['warehouse_id']?>"><?php echo $warehouse['warehouse_name']?></option> -->
                 <?php endforeach?>
               <?php endif;?>
             </select> 
             <p class="error" id="error_warehouse">Please select a warehouse</p>
           </div>
           <div class="form-group">
            <label>Min number(Warehouse)</label>
            <input type="number" class="form-control" placeholder="Enter min number of items in warehouse" name="min_warehouse" id="min_warehouse" value="<?php echo $view_item['warehouse_item_min'];?>">
            <p class="error" id="error_min_warehouse">Please enter value greater than 0</p>
          </div>
          <div class="form-group">
            <label>Max number(Warehouse)</label>
            <input type="number" class="form-control" placeholder="Enter max number of items in warehouse" name="max_warehouse" id="max_warehouse" value="<?php echo $view_item['warehouse_item_max'];?>">
            <p class="error" id="error_max_warehouse">Please enter value >= min value</p>
          </div>
           <!--  <div class="form-group">
              <label>Current number(Warehouse)</label>
              <input type="number" class="form-control" placeholder="Enter current number of items in warehouse" name="current_warehouse" id="current_warehouse" value="<?php echo $view_item['warehouse_item_current'];?>">
              <p class="error" id="error_current_warehouse">Please enter a value</p>
            </div> -->
            <div class="form-group">
              <label>Select Department</label>
              
              <select id="department" class="form-control" style="margin:0" multiple name="department[]">
                <?php if(isset($view_departments)):?>
                  <?php foreach ($view_departments as $department):?>
                    <option value="<?php echo $department['department_id'] ?>"
                      <?php foreach ($department_id as $dept_id):?>
                        <?php echo ($department['department_id'] == $dept_id)?'selected':null?>
                      <?php endforeach;?>

                      >
                      <?php echo $department['department_name']; ?></option>
                      <!-- <option value="<?php echo $department['department_id']?>"><?php echo $department['department_name']?></option> -->
                    <?php endforeach;?>
                  <?php endif;?>
                </select> 
                <p class="error" id="error_department">Please select a department</p>
              </div>
              <!-- <div class="form-group">
                <label>Min number(Department)</label>
                <input type="number" class="form-control" placeholder="Enter min number of items in department" name="min_department" id="min_department" value="<?php echo $view_item['department_item_min'];?>">
              </div>
              <div class="form-group">
                <label>Max number(Department)</label>
                <input type="number" class="form-control" placeholder="Enter max number of items in department" name="max_department" id="min_department" value="<?php echo $view_item['department_item_max'];?>">
              </div>
              <div class="form-group">
                <label>Current number(Department)</label>
                <input type="number" class="form-control" placeholder="Enter current number of items in department" name="current_department" id="current_department" value="<?php echo $view_item['department_item_current'];?>">
              </div> -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
                   <!-- <form role="form" action="<?php echo URL."items/delete/". $view_item['item_id']?>" method="post">
                  <a href="#"><button class="btn btn-primary">Delete</button></a>
                </form> -->
              </div><!-- /.box-body -->
            </div>
          </div>
        </div>