<script type="text/javascript">

  $(document).ready(function() { 
   $('.sidebar-menu li.items').addClass('active');

   $('#primary_vendor').on('change', function (event) {
     if($('#primary_vendor option:last').is(':selected')) {
       var data = '<?php echo URL?>'+'vendors/addVendor';
       ajaxVendorPrimary(data);
     }
   });

   $('#secondary_vendor').on('change', function (event) {
     if($('#secondary_vendor option:last').is(':selected')) {
       var data = '<?php echo URL?>'+'vendors/addVendor';
       ajaxVendorSecondary(data);
     }
   });
   
 }); 

  function ajaxVendorSecondary(data)
  {
    var queryString = $('#items_form').formSerialize();
    window.location.href = data + "?"+'addItems=1&edit=0&vendor=2&test=1&' + queryString;

  }

  function ajaxVendorPrimary(data)
  {
    var queryString = $('#items_form').formSerialize();
    window.location.href = data + "?"+'addItems=1&edit=0&vendor=1&test=1&' + queryString;

  }

  function uploadPhoto(image_file)
  {
    var file_data = $('#imageInput').prop('files')[0];   
    var form_data = new FormData();                  
    form_data.append('image_file', file_data);

    $.ajax({
      url:'<?php echo URL.'system/processupload.php'?>',
    target: '#output',   // target element(s) to be updated with server response 
    dataType: 'text',  // what to expect back from the PHP script, if anything
    cache: false,
    contentType: false,
    processData: false,
    method : 'POST',
    data : form_data,
    success: function(response)
    {
      response = '<?php echo UPLOAD_URL?>' +response;
      afterSuccess(response);
    },
    resetForm: true 
  });
  }

</script>

<div class="content-wrapper">
  <section class='content-header'></section>
  <?php echo Session::showSuccessMessages();?>
  <?php echo Session::showErrorMessages();?>
  <div class="col-lg-12">

    <div class="box">
      <div class="box-header with-border">
        <?php

// $_SESSION['items_form'] = 'items_form';
 // echo $_SESSION['test'];
        ?>
        <h3 class="box-title">Add New Item</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <form role="form" action="<?php echo URL."items/add"?>" method="post" enctype="multipart/form-data" id="items_form">
          <!-- text input -->
          
          <div class="form-group">
            <label>Item Name</label>
            <input type="text" class="form-control" placeholder="Enter Item Name" name="item_name" id="item_name" 
            value="<?php echo (isset($_SESSION['items']['item_name']))?  $_SESSION['items']['item_name'] : ""?>"> 
            <p class="error" id="error_name">Please enter item name</p>
          </div>
          <div class="form-group">
            <input name="image_file" id="imageInput" type="file" name="imageInput" style="cursor: pointer" />
            <!-- <input type="submit"  id="submit-btn" value="Upload" /> -->
            <img src="images/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>

          </div>
          <div class="form-group">
          <i id="clear" class="fa fa-times-circle" style="cursor:pointer; float:left"></i>
            <div id="output">
            </div>
          </div>

          <!-- select -->
          <div class="form-group">
            <label>Primary Vendor</label>
            <select id="primary_vendor" class="form-control" style="margin:0" name="primary_vendor" >
              <option value="0" disabled selected></option>
              <?php if(isset($view_vendors)):?>
                <?php foreach ($view_vendors as $vendor):?>

                  <option value="<?php echo $vendor['vendor_id']?>" 
                   <?php if(isset($_SESSION['items']['primary_vendor'])):
                   echo ($vendor['vendor_id']== $_SESSION['items']['primary_vendor'])?'selected': null;
                   endif;
                   ?>
                   >
                   <?php echo $vendor['vendor_name']?></option>
                 <?php endforeach?>
                 <option class="new_vendor" id="new_vendor_p"> Add a new vendor </option>
               <?php endif;?>
             </select> 
             <p class="error" id="error_primary_vendor">Please select a vendor</p>
           </div>
           <div class="form-group">
            <label>Secondary Vendor</label>
            <select id="secondary_vendor" class="form-control" style="margin:0" name="secondary_vendor" >
              <option value="0" disabled selected></option>
              <?php if(isset($view_vendors)):?>
                <?php foreach ($view_vendors as $vendor):?>

                  <option value="<?php echo $vendor['vendor_id']?>" 
                    <?php if(isset($_SESSION['items']['secondary_vendor'])):
                    echo ($vendor['vendor_id']== $_SESSION['items']['secondary_vendor'])?'selected': null;
                    endif;
                    ?>
                    ><?php echo $vendor['vendor_name']?></option>
                  <?php endforeach?>
                  <option class="new_vendor" id="new_vendor_s"> Add a new vendor </option>
                <?php endif;?>
              </select> 
              <p class="error" id="error_secondary_vendor">Please select a vendor</p>
            </div>
            <div class="form-group">
              <label>Warehouse</label>
              <select id="warehouse" class="form-control" style="margin:0" name="warehouse" >
                <option value="0" selected disabled=""></option>
                <?php if(isset($view_warehouses)):?>
                  <?php foreach ($view_warehouses as $warehouse):?>
                    <option value="<?php echo $warehouse['warehouse_id']?>"<?php echo ($warehouse['warehouse_id'] == isset($_SESSION['items']['warehouse']))?'selected':null?>><?php echo $warehouse['warehouse_name']?></option>
                  <?php endforeach?>
                <?php endif;?>
              </select> 
              <p class="error" id="error_warehouse">Please select a warehouse</p>
            </div>
            <div class="form-group">
              <label>Min number(Warehouse)</label>
              <input type="text" class="form-control" placeholder="Enter min number of items in warehouse" name="min_warehouse" id="min_warehouse" value="<?php echo (isset($_SESSION['items']['min_warehouse']))?  $_SESSION['items']['min_warehouse'] : ""?>">
              <p class="error" id="error_min_warehouse">Please enter value greater than 0</p>
            </div>
            <div class="form-group">
              <label>Max number(Warehouse)</label>
              <input type="text" class="form-control" placeholder="Enter max number of items in warehouse" name="max_warehouse" id="max_warehouse" value="<?php echo (isset($_SESSION['items']['max_warehouse']))?  $_SESSION['items']['max_warehouse'] : ""?>">
              <p class="error" id="error_max_warehouse">Please enter value >= min value</p>
            </div>
            <div class="form-group">
              <label>Current number(Warehouse)</label>
              <input type="text" class="form-control" placeholder="Enter current number of items in warehouse" name="current_warehouse" id="current_warehouse" value="<?php echo (isset($_SESSION['items']['current_warehouse']))?  $_SESSION['items']['current_warehouse'] : ""?>">
              <p class="error" id="error_current_warehouse">Please enter a value</p>
            </div>
            <div class="form-group">
              <label>Select Departments</label>
              <select multiple id="department" class="form-control" style="margin:0"  name="department[]">
                <!-- <option value="0" disabled selected>Departments</option> -->
                <?php if(isset($view_departments)):?>
                  <?php foreach ($view_departments as $department):?>

                    <option value="<?php echo $department['department_id']?>"
                      <?php if(isset($_SESSION['items']['department'])):?>
                       <?php foreach ($_SESSION['items']['department'] as $dept_id):?>
                        <?php echo ($department['department_id'] == $dept_id)?'selected':null?>
                      <?php endforeach;?>
                    <?php endif?>
                    >
                    <?php echo $department['department_name']?></option>
                  <?php endforeach?>
                <?php endif;?>
              </select> 
              <p class="error" id="error_department">Please select a department</p>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div><!-- /.box-body -->
      </div>
    </div>
  </div>
  <?php unset($_SESSION['items']);?>