<script>
    $(document).ready(function () {
        $('.sidebar-menu li.items').addClass('active');
    });
</script>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Items
        </h1>
    </section>
    <?php echo Session::showSuccessMessages();?>
<?php echo Session::showErrorMessages();?>
<?php $session = Session::getCurrentSession();?>

    <section class="content" style='padding-left:0px;' >
<!-- <div style="margin-top:2px"> -->
        <div class="col-md-2" style="margin-bottom:5px; margin-top:5px">
            <select id="departments" class="form-control" style="margin:0" onchange="FilterProducts()">
                <option value="0" selected>All Departments</option>
                <?php if(isset($view_departments)):?>
                    <?php foreach ($view_departments as $department):?>
                        <option value="<?php echo $department['department_id']?>"><?php echo $department['department_name']?></option>
                    <?php endforeach?>
                <?php endif;?>
            </select> 
        </div>

        <div class="col-md-2" style="margin-bottom:5px;margin-top:5px">
            <select id="vendors" class="form-control" style="margin:0" onchange="FilterProducts()">
                <option value="0" selected>All Vendors</option>
                <?php if(isset($view_vendors)):?>
                    <?php foreach ($view_vendors as $vendor):?>
                        <option value="<?php echo $vendor['vendor_id']?>"><?php echo $vendor['vendor_name']?></option>
                    <?php endforeach?>
                <?php endif;?>
            </select> 
        </div>
        <?php if($session['user_access_level'] == 1):?>
        <div class="col-md-2" style="margin-bottom:5px;margin-top:5px">
            <div class="input-group-btn">
                <a href="<?php echo URL .'items/addItems'?>">
                <button class="btn btn-success" id="addItems">Add a new item   <!-- <i class="fa fa-plus"></i> --></button>
              </a>
          </div>
      </div>
  <?php endif?>
      <!-- </div> -->

  <div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <!-- <h3 class='box-title'></h3> -->
        </div>
        <div class="box-body">
        <div class="table-responsive no-padding" id="items-table">

        </div>
        </div>
    </div>
</div>
</section>
</div>

<script type="text/javascript">
   $(document).ready(function () {
    $('#items-table').load('<?php echo URL . 'items/filterItems' ?>');
});


   function FilterProducts()
   {
    var department = $('#departments').val();
    var vendor = $('#vendors').val();
    $.ajax({
        url:'<?php echo URL.'items/filterItems'?>', 
        method: 'POST',
        data:{'department':department, 'vendor':vendor},
        success: function(response)
        {
            $("#items-table").html(response);
        },
        error: function()
        {
            alert('error');
        }
    });
}

</script>

