<script type="text/javascript">
    $(document).ready(function () {
        $('.sidebar-menu li.items').addClass('active');
        $("#item_table").dataTable(
        {
            "columns": [

                    null,
                    null,
                    null
                    ] ,
                    "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -1 ] }
            ],
                    responsive: true
                // "bSort":false
            });

                $("#item_table_wrapper").css("overflow-x","hidden");
    });
         // $(document).on('click', 'table.table tr', function(){
         //    window.location.href = $(this).data('url');
         //  });


</script>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Items
        </h1>
    </section>

    <section class="content" style='padding-left:0px; display: inline;' >
        <div class="col-md-2" style="margin-bottom:5px;">
            <select id="departments" class="form-control" style="margin:0" onchange="FilterProducts()">
            <?php foreach ($view_department as $department): ?>
            <option value="<?php echo $department['department_id']?>" ><?php echo $department['department_name']?></option>
        <?php endforeach?>
            </select> 
        </div>

         <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class='box-title'>Stock</h3>
        </div>
       <!--  <div class="table-responsive no-padding" id="item-table">

        </div> -->
        <div class="box-body table-responsive " id="item-table">
          <table id="item_table" class="table table-hover table-striped table-bordered" width="100%" >
                    <thead>
                        <th class="col-lg-1 text-center">Item ID</th>
                        <th class="col-lg-2 text-center">Name</th>    
                        <th class="col-lg-2 text-center">Total InHouse</th>
                        <!-- <th class="col-lg-2 text-center">Action</th> -->

                    </thead>
                    <tbody>
                    <?php if(isset($view_items[0])):?>
                        <?php foreach($view_items as $item):?>
                            <tr style="cursor:pointer" data-url="<?php echo URL."items/view/". $item['item_id']?>">
                                <td class="text-center"><?php echo $item['item_id'];?></td>
                                <td class="text-center"><a href="<?php echo URL."items/view/". $item['item_id']?>"><?php echo $item['item_name'];?></a></td>
                                <td class="text-center"><?php echo $item['total_in_house'];?></td>
                                <!-- <td class="text-center"><a href="<?php echo URL."items/editItems/". $item['item_id']?>">Edit</a> | <a href="<?php echo URL."items/delete/". $item['item_id']?>">Delete</a></td> -->

                                <!--<td class="text-center"><?php echo $item['photo'];?></td><img src="<?php echo UPLOAD_URL. $item['photo']?>"-->

                            </tr>
                        <?php endforeach;?>
                    <?php endif;?>
                    </tbody>
                </table>

        </div>
      </div>
    </div>
        

       
    </section>
</div>


<script type="text/javascript">


   function FilterProducts()
   {
    var department = $('#departments').val();
    $.ajax({
        url:'<?php echo URL.'items/filterItems'?>', 
        method: 'POST',
        data:{'department':department},
        success: function(response)
        {
            $("#item-table").html(response);
        },
        error: function()
        {
            alert('error');
        }
    });
}

</script>

