<script type="text/javascript">
	$(document).ready(function(){
		$('.sidebar-menu li.parlist').addClass('active');
	});
</script>
<div class="content-wrapper">
	<section class='content-header'></section> 

	<div class="col-lg-12">
		<?php $count = 1; ?>
		<?php foreach ($view_departments as $department):?>
			<?php if(($count % 2) == 0):?>
				<div class='row'>
				<?php endif;?>
					<div class='col-lg-6 col-md-6 '>
						<div class="box" style='min-height:300px'>
						
							<div class="box-header">
								<h3 class="box-title"><?php echo $department['department_name']?></h3>
							</div>
							<table class="table table-hover table-striped table-bordered" width="100%" >
								<thead>
									<th class="col-lg-2 text-center">Item Name</th>
									<th class="col-lg-2 text-center">Min</th>    
									<th class="col-lg-2 text-center">Max</th>
									<th class="col-lg-1 text-center">Action</th>
								</thead>
								<tbody>
								<?php $dummy = 0;?>
									<?php foreach($view_items as $key => $item):?>
										<?php if(getModel('items')->checkItemInDept($item['item_id'], $department['department_id'])):?>
											<?php $dummy++;?>
											<tr style="cursor:pointer" data-url="<?php echo URL."items/view/". $item['item_id']?>">
												<form role="form" action="<?php echo URL."items/editDeptValue/".$department['department_id']?>" method="post" class="items_dept_form_<?php echo $key?>"> 
													<td class="text-center"><input type="hidden" name="item_id" id="item_id" value="<?php echo $item['item_id']?>"><?php echo $item['item_name'];?></td>
													<td class="text-center"><input type="number"class="form-control" name="min_department" id="min_department" value="<?php echo $view_item[$department['department_id']][$item['item_id']]['min'];?>"><p class="error" id="error_min_department">Please enter value greater than 0</p></td>
													<td class="text-center"><input type="number" class="form-control number greaterThan" data-min="min_department" name="max_department" id="max_department" value="<?php echo $view_item[$department['department_id']][$item['item_id']]['max'];?>"><p class="error" id="error_max_department">Please enter value greater than min value</p></td>
													<td>
														<button type="submit" class="btn btn-primary item_submit_button item_<?php echo $item['item_id']?>">Submit</button>
													</td>

												</form>
											</tr>
										<?php endif;?>
									<?php endforeach;?>
									<?php if($dummy == 0):?>
										<tr>
										<td colspan="4">No Items in this department</td>
										</tr>
									<?php endif;?>

								</tbody>
							</table>
						</div> 
					</div>


				<?php if(($count % 2) == 0):?>
					</div>
					<?php endif;?>
					<?php $count++;?>

				<?php endforeach ?>


			</div>
		</div>

