        <script type="text/javascript">
            $(document).ready(function () {
                $('.sidebar-menu li.items').addClass('active');
                $("#item_table").dataTable(
                {
                     <?php $session = Session::getCurrentSession();
           if($session['user_access_level'] == "4"):?>
                    "columns": [

                    null,
                    null,
                    { "searchable": false }
                    ] ,
                    <?php elseif($session['user_access_level'] == "3"):?>
                    "columns": [
null,
                    null,
                    null,
                    ] ,
                    <?php else:?>
                    "columns": [
null,
                    null,
                    null,
                    { "searchable": false }
                    ] ,
                    <?php endif?>
                    "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -1 ] }
            ],
            <?php if(count($items) > 10):?>
"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
<?php else:?>
"lengthMenu": [[10], [10]],
<?php endif;?>
                    responsive: true
                // "bSort":false
            });

                $("#item_table_wrapper").css("overflow-x","hidden");
            });
         // $(document).on('click', 'table.table tr', function(){
         //    window.location.href = $(this).data('url');
         //  });

        
    </script>
    <table id="item_table" class="table table-hover table-striped table-bordered" width="100%" >
        <thead>
            <th class="col-lg-1 text-center">Item ID</th>
            <th class="col-lg-2 text-center">Name</th>    
            <th class="col-lg-2 text-center">Total InHouse</th>
            <?php if($session['user_access_level'] == 1):?>
            <th class="col-lg-2 text-center">Action</th>
        <?php endif?>

        </thead>
        <tbody>
            <?php if(isset($items[0])):?>
                <?php foreach($items as $item):?>
                    <tr data-url="<?php echo URL."items/view/". $item['item_id']?>">
                        <td class="text-center"><?php echo $item['item_id'];?></td>
                        <td class="text-center"><a href="<?php echo URL."items/view/". $item['item_id']?>"><?php echo $item['item_name'];?></a></td>
                        <td class="text-center"><?php echo $item['total_in_house'];?></td>
                        <?php if($session['user_access_level'] == 1):?>
                        <td class="text-center"><a href="<?php echo URL."items/editItems/". $item['item_id']?>">Edit</a> | <a href="<?php echo URL."items/delete/". $item['item_id']?>"  onclick="return confirm('Are you sure?')">Delete</a></td>
<?php endif?>
                        <!--<td class="text-center"><?php echo $item['photo'];?></td><img src="<?php echo UPLOAD_URL. $item['photo']?>"-->

                    </tr>
                <?php endforeach;?>
            <?php endif;?>
        </tbody>
    </table>
