        <script type="text/javascript">
          $(document).ready(function () {
           $('.edit').click(function(e){
             e.preventDefault();
             $(this).parent().parent().parent().find('.usage').removeAttr("disabled"); 
             $(this).hide();
           });

           $('.sidebar-menu li.daily_usage').addClass('active');
           $('.date_usage').val($("#datePicker").val());
           
           $('#edit').hide();
         });
        </script>

        <?php  
        $count = 1;
        $department = getModel('departments')->loadByID($data['department']);
        $items= getModel('items')->getItems($data['department']);
        $checkdata = getModel('departments')->checkUsage($data['department']);
        $usage= getModel('departments')->getUsageValue();
        ?>
        <input type="hidden" class="form-control pull-right" id="datePicker" value="<?php echo date('m/d/Y');?>">
        <?php if(isset($items[0])):?>
          <?php if(($count % 2) == 0):?>
            <div class='row'>
            <?php endif;?>
            <form role="form" action="<?php echo URL."departments/usage"?>" method="post" id="usage-table" class ="col-lg-12 usage-table">
              <div class="box">
               <div class='box-header'>
                 <h3 class='box-title'><?php echo $department['department_name']?></h3>
                 <?php if($checkdata) :?> 
                   <div class='box-tools'>
                     <a href='#' class='edit'><i class="fa fa-fw fa-edit"></i></a>
                   </div>
                 <?php endif;?>
               </div>
               <input type="hidden" class="date_usage" name="date_usage"/>
               <input type="hidden" id="department_id" value="<?php echo $department['department_id']?>" name="department_id"/>
               <table class="table table-hover" id="usage_table" style="width:100%; table-layout:fixed">
                <thead>
                  <th class="col-lg-1 text-center form-group">Product</th>
                  <th class="col-lg-2 text-center form-group">Current</th>    
                  <th class="col-lg-2 text-center form-group">Usage</th>

                </thead>
                <tbody>


                  <?php foreach($items as $item):?>
                    <tr data-url="<?php echo URL."items/view/". $item['item_id']?>" class="form-group">
                     <?php $usage_item = isset($usage[$department['department_id']][$item['item_id']])?$usage[$department['department_id']][$item['item_id']]:0;
                      $current = $item['department_item_current'];
                    $actual_current = $usage_item + $current;
                    ?>
                      <td class="text-center"><input type="hidden" class="actual_current" name="actual_current[<?php $item['item_id']?>]" value="<?php echo $actual_current?>"/><a href="<?php echo URL."items/view/". $item['item_id']?>"><?php echo $item['item_name'];?></a></td>
                      <td class="text-center"><input type="hidden" class="current" value="<?php echo $item['department_item_current'];?>"/><?php echo $item['department_item_current'];?></td>
                      <td class="text-center"> <input type="text" class="form-control usage" <?php if($checkdata) echo 'disabled';?> placeholder="Enter Amount used" name="usage[<?php echo $item['item_id']?>]" id="usage" value="<?php echo isset($usage[$department['department_id']][$item['item_id']])?$usage[$department['department_id']][$item['item_id']]:0?>">
                       <p class="error error_usage">Please enter value greater than 0</p>
                       <p class="error error_usage_current">Please enter value less than current</p>
                     </td>
                   </tr>

                 <?php endforeach;?>

               </tbody>
             </table>
             <div class='row'>
              <div class='col-lg-2 col-md-2 pull-right' style='min-width:150px; margin-bottom:8px;margin-right:20px'>
                <button <?php if($checkdata) echo 'disabled'?> class="btn btn-flat btn-block btn-primary usage" type="submit" >Save</button>
              </div>
            </div>

          </div>

        </form>
        <?php if(($count % 2) == 0):?>
        </div>
      <?php endif;?>
      <?php $count++;?>
    <?php else:?>
      <div>
        <p> No items in this department </p>
      </div>
    <?php endif?>

