<script type="text/javascript">
	$(document).ready(function(){
		$('.sidebar-menu li.items').addClass('active');
	})
</script>

<div class="content-wrapper" style='  padding-bottom: 20px;'>
	<section class='content-header'></section>

	<section class='invoice'>
		<div class='row page-header'>
			<div class='col-lg-3 col-md-4 col-sm-4 text-center'>

			<?php if(isset($view_item['photo'])):?>
                <img style='width: 100%; max-width: 200px; height: auto;'src = "<?php echo UPLOAD_URL. $view_item['photo']?> "/>
              <?php else:?>
              	<?php $photo = "dummy.jpg"?>
                <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
              <?php endif?>
						
			</div>
			<div class='col-lg-4  col-md-8 col-sm-8 '>
				<h3><strong><?php echo $view_item['item_name']?></strong></h3>
				<h3>Total Quantity In House: <strong><?php echo $view_item['total_in_house']?></strong></h3>
			</div>
		</div>
		<div class='row lemonsoda'>
		<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
			<?php if(isset($view_vendors[0])):?>
				<div id="primary_vendor" class="">

					<p><b><u><?php echo ($view_vendors[0]['vendor_priority'] == 1 )?'Primary Vendor': 'Secondary vendor'?></u></b></p>
					<p><?php echo $view_vendors[0]['vendor_name'];?></p>
					<p><?php echo $view_vendors[0]['vendor_address'];?></p>
					<p><?php echo $view_vendors[0]['vendor_email'];?></p>
					<p><?php echo $view_vendors[0]['vendor_contact'];?></p>
					<p><?php echo $view_vendors[0]['vendor_website'];?></p>

				</div>
			<?php endif;?>
		</div>
		<div class='col-lg-6 col-md-6 col-sm-6  col-xs-6'>
		<?php if(isset($view_vendors[1])):?>
				<div id="secondary_vendor"class="">

					<p><b><u><?php echo ($view_vendors[1]['vendor_priority'] == 1 )?'Primary Vendor': 'Secondary vendor'?></u></b></p>
					<p><?php echo $view_vendors[1]['vendor_name'];?></p>
					<p><?php echo $view_vendors[1]['vendor_address'];?></p>
					<p><?php echo $view_vendors[1]['vendor_email'];?></p>
					<p><?php echo $view_vendors[1]['vendor_contact'];?></p>
					<p><?php echo $view_vendors[1]['vendor_website'];?></p>

				</div>
			<?php endif?>
			</div>
		</div>
		<hr>
		<div class='row'>
		<h3 class='col-xs-12 text-center'>Stocks</h3>
		<div class='col-lg-6 col-md-6'>
		<?php if($view_departments):?>
		<table class="table table-hover" id="department_table">
								<thead>
									<th class="col-lg-2 text-center">Department Name</th>    
									<th class="col-lg-2 text-center">Min</th>
									<th class="col-lg-2 text-center">Max</th>
									<th class="col-lg-2 text-center">Current</th>
								</thead>
								<tbody>
									<?php foreach($view_departments as $department):?>
										<tr>

											<td class="text-center"><a href="<?php echo URL."departments/view/".$department["department_id"]?>"><?php echo $department['department_name'];?></a></td>
											<td class="text-center"><?php echo $department['department_item_min'];?></td>
											<td class="text-center"><?php echo $department['department_item_max'];?></td>
											<td class="text-center"><?php echo $department['department_item_current'];?></td>
										</tr>
									<?php endforeach;?>
								</tbody></table>
							<?php endif;?>
		</div>
		<div class='col-lg-6 col-md-6'>
		<?php if($view_warehouses):?>
			<table class="table table-hover" id="warehouse_table">
									<thead>
										<th class="col-lg-2 text-center">Warehouse Name</th>    
										<th class="col-lg-2 text-center">Min</th>
										<th class="col-lg-2 text-center">Max</th>
										<th class="col-lg-2 text-center">Current</th>
									</thead>
									<tbody>
										<?php foreach($view_warehouses as $warehouse):?>
											<tr>

												<td class="text-center"><a href="<?php echo URL."warehouse/view/".$warehouse["warehouse_id"]?>"><?php echo $warehouse['warehouse_name'];?></a></td>
												<td class="text-center"><?php echo $warehouse['warehouse_item_min'];?></td>
												<td class="text-center"><?php echo $warehouse['warehouse_item_max'];?></td>
												<td class="text-center"><?php echo $warehouse['warehouse_item_current'];?></td>
											</tr>
										<?php endforeach;?>
									</tbody></table>
								<?php endif;?>
		</div>
		</div>
	</section>


		</div>