<script>
  $(document).ready(function () {

  });
</script>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Stock
    </h1>
  </section>
  <?php echo Session::showSuccessMessages();?>
  <?php echo Session::showErrorMessages();?>
  
  <section class="content" style='padding-left:0px; padding-right:0'>
    <div class="col-lg-2" >
      <div class="form-group">
        <label>Select Item</label>
        <select id="item" class="form-control"  onchange="FilterItems()">
          <!-- <option value="0" selected ="">All Items</option> -->
          <?php if(isset($view_items)):?>
            <?php $count = 1;?>
            <?php foreach ($view_items as $item):?>
              <option value="<?php echo $item['item_id']?>" <?php echo ($count == 1)? 'selected' : null?>
                ><?php echo $item['item_name']?></option>
                <?php $count++;?>
              <?php endforeach?>
            <?php endif;?>
          </select> 
        </div>
      </div>
      <div class="col-md-12 stock-tables">
      <div id="stock-table">

      </div>

      <!-- </div> -->
    </div>



  </section>
</div>

<script type="text/javascript">
//    $(document).ready(function () {
//      var department = $('#departments').val();
//     $('#usage-form').load('<?php echo URL . 'items/filterItemsDept/department' ?>');
// });
  $(document).ready(function () {
     FilterItems();
});

function FilterItems()
{
  var item = $('#item').val();
  $.ajax({
    url:'<?php echo URL.'stock/filterItems'?>', 
    method: 'POST',
    data:{'item':item},
    success: function(response)
    {
          //alert(response);
          $("#stock-table").html(response);
        },
        error: function()
        {
          alert('error');
        }
      });
}

</script>