<?php loadHelper('notification');?>
<script type="text/javascript">
  $(document).ready(function(){
    $('.sidebar-menu li.items').addClass('active');
  })
</script>

<!-- <div class="content-wrapper" > -->
<!-- <section class='content-header'></section> -->
<?php $notificationstock = notificationStockById($item_info['item_id']); ?>
<section class='invoice' style="margin: 0px 0px;" >
  <div class='row page-header'>
    <div class='col-lg-3 col-md-4 col-sm-4 text-center'>

      <?php if(isset($item_info['photo'])):?>
        <img style='width: 100%; max-width: 200px; height: auto;'src = "<?php echo UPLOAD_URL. $item_info['photo']?> "/>
      <?php else:?>
        <?php $photo = "dummy.jpg"?>
        <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
      <?php endif?>

    </div>
    <div class='col-lg-4  col-md-8 col-sm-8 '>
      <h3><strong><?php echo $item_info['item_name']?></strong></h3>
      <h3>Total Quantity In House: <strong><?php echo $item_info['total_in_house']?></strong></h3>
    </div>
  </div>
  <div class='row'>
    <h3 class='col-xs-12 text-center'>Stocks</h3>
    <div class='col-lg-6 col-md-6'>
      <?php if($departments):?>
        <table class="table table-hover" id="department_table">
          <thead>
            <th class="col-lg-2 text-center">Department Name</th>    
            <th class="col-lg-2 text-center">Min</th>
            <th class="col-lg-2 text-center">Max</th>
            <th class="col-lg-2 text-center">Current</th>
          </thead>
          <tbody>
            <?php foreach($departments as $department):?>
              <tr>

                <td class="text-center"><a href="<?php echo URL."departments/view/".$department["department_id"]?>"><?php echo $department['department_name'];?></a></td>
                <td class="text-center"><?php echo $department['department_item_min'];?></td>
                <td class="text-center"><?php echo $department['department_item_max'];?></td>
                <td class="text-center"><?php echo $department['department_item_current'];?></td>
              </tr>
            <?php endforeach;?>
          </tbody></table>
        <?php endif;?>
      </div>
      <div class='col-lg-6 col-md-6'>
        <?php if($warehouses):?>
          <table class="table table-hover" id="warehouse_table">
            <thead>
              <th class="col-lg-2 text-center">Warehouse Name</th>    
              <th class="col-lg-2 text-center">Min</th>
              <th class="col-lg-2 text-center">Max</th>
              <th class="col-lg-2 text-center">Current</th>
            </thead>
            <tbody>
              <?php foreach($warehouses as $warehouse):?>
                <tr>

                  <td class="text-center"><a href="<?php echo URL."warehouse/view/".$warehouse["warehouse_id"]?>"><?php echo $warehouse['warehouse_name'];?></a></td>
                  <td class="text-center"><?php echo $warehouse['warehouse_item_min'];?></td>
                  <td class="text-center"><?php echo $warehouse['warehouse_item_max'];?></td>
                  <td class="text-center"><?php echo $warehouse['warehouse_item_current'];?></td>
                </tr>
              <?php endforeach;?>
            </tbody></table>
          <?php endif;?>
        </div>
      </div>
      <hr>

      <div class='row'>
        <div class='col-lg-12 col-md-12'>
          <?php if($departments):?>
            <table class="table table-hover" id="department_table">
              <thead>
                <th class="col-lg-2 text-center">Department Name</th>    
                <th class="col-lg-2 text-center">Stock Information</th>
                <th class="col-lg-2 text-center">Quantity</th>
              </thead>
              <tbody>
                <?php foreach($departments as $department):?>
                  <tr>
                    <td class="text-center"><a href="<?php echo URL."departments/view/".$department["department_id"]?>"><?php echo $department['department_name'];?></a></td>
                    
                    <?php foreach ($notificationstock as $notification) :?>

                      <?php 
                      // var_dump($notification);die;
                      $wh = getModel('warehouse')->loadByID($notification[0]['warehouse_id']);
                      $lotNo = getModel('warehouse')->loadLotNo($notification[0]['item_id'], $wh['warehouse_id'], $notification[0]["quantity"]);
                      ?>
                      <td class="text-center">
                        <?php if($notification[0]['department_id'] == $department['department_id']):?>
                          <h5 class="col-lg-12"><strong><?php echo 'Quantity Required: '?></strong><?php echo $notification[0]["quantity"];?></h5>
                          <h5 class="col-lg-12"><strong><?php echo 'Warehouse: '?></strong><?php echo $wh["warehouse_name"];?></h5>
                          <?php $totalQty = ''; $qtyNeeded =$notification[0]['quantity']; ?>
                          <div class="lotNos col-lg-12">
                            <?php if($lotNo != false):?>
                              <?php foreach ($lotNo as $lot):?>
                                <?php if(($lot['quantity'])>=$notification[0]['quantity']):?>
                                  <h5>
                                    <strong>
                                      <?php echo $qtyNeeded?> Items
                                    </strong>
                                    From Lot Number <strong><?php echo $lot['lot_no'];?></strong>
                                  </h5>
                                <?php else:?>
                                  <h5>
                                    <strong>
                                      <?php if ($qtyNeeded == $notification[0]['quantity'] || $qtyNeeded >= $lot['quantity'] )
                                      {
                                        echo $lot["quantity"];
                                      }
                                      else 
                                      {
                                        echo $qtyNeeded;
                                      }
                                      ?>
                                      Items
                                    </strong>
                                    from Lot Number <strong><?php echo $lot['lot_no']?></strong>
                                  </h5>
                                  <?php $qtyNeeded -= $lot['quantity']; 
                                  endif;
                                  $totalQty += $lot['quantity'];
                                  endforeach;
                                  endif;?>
                                </div>
                                <?php if($totalQty < $notification[0]['quantity']):?>
                                  <?php $unavailable = $notification[0]['quantity'] - $totalQty;?>
                                  <div class='col-lg-12'>
                                    <h5><strong><?php echo 'Unavailable Quantity: '?></strong><?php echo $unavailable;?></h5>
                                  </div>
                                <?php endif;?>
                              <?php else:?>
                                <p>---</p>
                              <?php endif?>


                            </td>
                          <?php endforeach?>
                          <td class="text-center">
                            <form action="<?php echo URL."notification/stock/"?>" method="post" style='  margin-left: 15px;margin-right: 30px;'>
                             
                                <input type="text" id="stockQty" name="stockQty" value="" class='form-control stockQty1'/>
                                <input type='hidden' name='item_id' value='<?php echo $item_info["item_id"]?>'/>
                                <input type='hidden' name='warehouse_id' value='<?php echo  $warehouses[0]['warehouse_id']?>'/>
                                <input type='hidden' name='department_id' value='<?php echo $department["department_id"]?>'/>

                             
                              <label></label>
                              <input type="submit" class="stock_btn form-control pull-right btn btn-primary" id="stock_btn" value="Stock"></input>
                            </form>

                          </td>
                        </tr>
                      <?php endforeach;?>
                    </tbody></table>
                  <?php endif;?>
                </div>


              </div>

            </section>


    <!-- </div> -->