<script>
  $(document).ready(function () {
    $('.sidebar-menu li.user').addClass('active');
     if($("#user_img").attr('src'))
   {
     $("#clear").show();
   }
    if($('#user_img').length)
    {
      var image_path = $("#user_img").attr('src');
      var image_name = image_path.substr(image_path.lastIndexOf('/') + 1);
      $('#hidden_photo').val(image_name);
    }
  });

  function uploadPhoto(image_file)
  {
    var file_data = $('#imageInput').prop('files')[0];   
    var form_data = new FormData();                  
    form_data.append('image_file', file_data);

    $.ajax({
      url:'<?php echo URL.'system/processupload.php'?>',
    target: '#output',   // target element(s) to be updated with server response 
    dataType: 'text',  // what to expect back from the PHP script, if anything
    cache: false,
    contentType: false,
    processData: false,
    method : 'POST',
    data : form_data,
    success: function(response)
    {
      //response = '<?php echo UPLOAD_URL.'users/'?>' +response;
      response = '<?php echo UPLOAD_URL?>' +response;
      afterSuccess(response);
    },
    //success: afterSuccess,  // post-submit callback 
    resetForm: true 
  });
  }
</script>
<div class="content-wrapper">
<?php echo Session::showSuccessMessages();?>
<?php echo Session::showErrorMessages();?>
  <section class='content-header'></section>
  <div class="col-lg-12">
    <div class="box">

      <?php $department_id = explode(',',$view_user['department_id']);?>
      <div class="box-header with-border">
        <p><?php if(isset($view_error_msg)){echo $view_error_msg;echo '<br>';}?></p>
        <h3 class="box-title">Edit User <?php echo $view_user['user_name']?></h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <form role="form" action="<?php echo URL."users/edit/". $view_user['user_id']?>" method="post" id="user_form">

          <!-- text input -->
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="user_name" id="user_name" value="<?php echo $view_user['user_name'];?>">     
            <p class="error" id="error_name" hidden>Please enter name</p>       
            <p class="error" id="error_valid_name" hidden>Please enter valid name</p>           
          </div>

          <div class="form-group">
            <input name="image_file" id="imageInput" type="file" name="imageInput"/>
            <!-- <input type="submit"  id="submit-btn" value="Upload" /> -->
            <img src="images/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
          </div>
          <div class="form-group">
          <i id="clear" class="fa fa-times-circle" style="cursor:pointer; float:left"></i>
            <div id="output">
              <input type="hidden" name="photo" id="hidden_photo" />
              <?php if($view_user['photo']):?>
                <img src = "<?php echo UPLOAD_URL. $view_user['photo']?> " id="user_img"/>
              <?php endif?>
            </div>

          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Enter username(email)" name="user_email" id="user_email" value="<?php echo $view_user['user_email'];?>">
            <p class="error" id="error_email" hidden>Please enter email</p>
            <p class="error" id="error_email_valid" hidden>Please enter valid email</p>
          </div>
          <div class="form-group">
            <label>User Contact Number</label>
            <input type="text" class="form-control" placeholder="Enter user contact number" name="user_phone" id="user_phone" value="<?php echo $view_user['user_phone'];?>">
            <p class="error" id="error_phone" hidden>Please enter phone number((XXX)-XXX-XXXX)</p>
          </div>

          <input type='hidden' name='user_access_level' value='<?php echo ($view_user['user_access_level'])?>'/>
          <div class="form-group">
            <label>Is Inventory Manager?</label>
            <select id="user_access_level" class="form-control" style="margin:0" name="user_access_level" >
              <!-- <option value="0" disabled selected=""></option> -->
              <option value="1" <?php echo ($view_user['user_access_level'] == '1')? 'selected' :null?>>Yes</option>
              <option value="<?php echo ($view_user['user_access_level'])?>" <?php echo ($view_user['user_access_level'] != '1')? 'selected' :null?>>No</option>
            </select> 
            <p class="error" id="error_access_level">Choose one of the options</p>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>