<script>
	$(document).ready(function () {
		$('.sidebar-menu li.user').addClass('active');
	});

	function uploadPhoto(image_file)
	{
		var file_data = $('#imageInput').prop('files')[0];   
		var form_data = new FormData();                  
		form_data.append('image_file', file_data);

		$.ajax({
			url:'<?php echo URL.'system/processupload.php'?>',
		    target: '#output',   // target element(s) to be updated with server response 
		    dataType: 'text',  // what to expect back from the PHP script, if anything
		    cache: false,
		    contentType: false,
		    processData: false,
		    method : 'POST',
		    data : form_data,
		    success: function(response)
		    {
//		    	response = '<?php echo UPLOAD_URL.'users/'?>' +response;
		    	response = '<?php echo UPLOAD_URL?>' +response;
		    	afterSuccess(response);
		    },
		    resetForm: true 
		});
	}
</script>
<div class="content-wrapper">

	<section class='content-header'></section>
<?php echo Session::showSuccessMessages();?>
<?php echo Session::showErrorMessages();?>

	<div class="col-lg-12">
		<div class="box">
			<div class="box-header with-border">
				<p><?php if(isset($view_error_msg)){echo $view_error_msg;echo '<br>';}?></p>

				<h3 class="box-title">Add New User</h3>
			</div><!-- /.box-header -->
			<div class="box-body">
				<form role="form" action="<?php echo URL."users/add"?>" method="post" enctype="multipart/form-data" id="user_form">

					<!-- text input -->
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" placeholder="Enter Name" name="user_name" id="user_name" 
						> 
						<p class="error" id="error_name" hidden>Please enter name</p>
						<p class="error" id="error_valid_name" hidden>Please enter valid name</p>
					</div>

					<div class="form-group">
						<input name="image_file" id="imageInput" type="file" name="imageInput" style="cursor: pointer" />
						<!-- <input type="submit"  id="submit-btn" value="Upload" /> -->
						<img src="images/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
					</div>
					<div class="form-group">
					 <i id="clear" class="fa fa-times-circle" style="cursor:pointer; float:left"></i>
						<div id="output">
						</div>
					</div>

					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" placeholder="Enter username(email)" name="user_email" id="user_email">
						<p class="error" id="error_email" hidden>Please enter email</p>
						<p class="error" id="error_email_valid" hidden>Please enter valid email</p>

					</div>
					
					<div class="form-group">
						<label>User Contact Number</label>
						<input type="text" class="form-control" placeholder="Enter user contact number" name="user_phone" id="user_phone">
						<p class="error" id="error_phone" hidden>Please enter phone number((XXX)-XXX-XXXX)</p>
					</div>
					<div class="form-group">
						<label>Is Inventory Manager?</label>
						<select id="user_access_level" class="form-control" style="margin:0" name="user_access_level" >
							<option value="0" selected=""></option>
							<option value="1">Yes</option>
							<option value="3">No</option>
						</select> 
						<p class="error" id="error_access_level">Choose one of the options</p>
					</div>
					<!-- <input type='hidden' name='user_access_level' value='3'/> -->
				<!-- <div class="form-group">
					<label>Select Departments</label>
					<select multiple id="department" class="form-control" style="margin:0"  name="department[]">
						
						<?php if(isset($view_departments)):?>
							<?php foreach ($view_departments as $department):?>

								<option value="<?php echo $department['department_id']?>"
									<?php if(isset($_SESSION['items']['department'])):?>
										<?php foreach ($_SESSION['items']['department'] as $dept_id):?>
											<?php echo ($department['department_id'] == $dept_id)?'selected':null?>
										<?php endforeach;?>
									<?php endif?>
									>
									<?php echo $department['department_name']?></option>
								<?php endforeach?>
							<?php endif;?>
						</select> 
						<p class="error" id="error_department">Please select a department</p>
					</div> -->
					<div class="box-footer">
						<button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div><!-- /.box-body -->
		</div>
	</div>
</div>