<div class="content-wrapper">
<section class='content-header'></section>
  <?php echo Session::showSuccessMessages();?>
  <?php echo Session::showErrorMessages();?>


  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">General Elements</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <form role="form" action="<?php echo URL."password/addPassword/".$view_token_id?>" method="post" enctype="multipart/form-data" >
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter your password" name="password" id="password">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Enter your password to confirm" name="confirm_password" id="confirm_password">
        </div>
       
        <div class="box-footer">
          <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div><!-- /.box-body -->
  </div>
</div>