<script>
    $(document).ready(function () {
        $('.sidebar-menu li.user').addClass('active');
        $("#user_table").dataTable(
        {
            <?php $session = Session::getCurrentSession();
           if($session['user_access_level'] == "4"):?>
            "columns": [
            null,
            null,
            null,
            { "searchable": false }
            ] ,
            <?php else:?>
            "columns": [
                null,
                null,
                null,
                null,
                 { "searchable": false }
                ] ,
            <?php endif;?>

            "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -1 ] }
            ],
            <?php if(count($view_users) > 10):?>
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        <?php else:?>
        "lengthMenu": [[10], [10]],
    <?php endif;?>

    responsive: true

});

        
        
        $("#user_table_wrapper").css("overflow-x","hidden");
    });
</script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Users
        </h1>
    </section>
    <?php echo Session::showSuccessMessages();?>
    <?php echo Session::showErrorMessages();?>
    <?php $session = Session::getCurrentSession();?>


    <section class="content" style='padding-left:0px; display: inline;' >
     <?php if($session['user_access_level'] == 1):?>
        <div class="col-md-2" style="margin-bottom:5px;   margin-top: 15px;">
            <div class="input-group-btn">
                <a href="<?php echo URL .'users/addUsers'?>">
                  <button class="btn btn-success" id="addUsers">Add a new user  <!--  <i class="fa fa-plus"></i> --></button>
              </a>
          </div>
      </div>
  <?php endif?>



      <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <!-- <h3 class='box-title'>Users</h3> -->
            </div>
            <div class="box-body">
                <div class="no-padding" id="users-table">
                    <table id="user_table" class="table table-hover table-striped table-bordered" width="100%" >
                        <!-- <table class="display responsive no-wrap" id="user_table" style="width:100%; table-layout:fixed" style="cursor:pointer; display:stripe"> -->
                        <thead>
                            <tr role="row">
                                <th class="text-center">Name</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Phone Number</th>
                                <th class="text-center">Access Level</th>
                                <?php if($session['user_access_level'] == 1):?>
                                <th class="text-center">Action</th>
                            <?php endif?>

                            </tr>


                        </thead>
                        <tbody>
                            <?php foreach($view_users as $user):?>
                                <?php
                                if($user['user_access_level'] == 1)
                                    $user_access_level = "INVENTORY_MANAGER";
                                else if($user['user_access_level'] == 2)
                                    $user_access_level = "DEPARTMENT_MANAGER";
                                else if($user['user_access_level'] == 3)
                                    $user_access_level = "ASSISTANT";
                                else if($user['user_access_level'] == 4)
                                    $user_access_level = "PURCHASE_MANAGER";
                                ?>
                                <tr data-url="<?php echo URL."users/view/". $user['user_id']?>">
                                    <td class="text-center"><a href="<?php echo URL."users/view/". $user['user_id']?>"><?php echo $user['user_name'];?></a></td>
                                    <td class="text-center"><?php echo $user['user_email'];?></td>
                                    <td class="text-center"><?php echo $user['user_phone'];?></td>
                                    <td class="text-center"><?php echo $user['post'];?></td>
                                     <?php if($session['user_access_level'] == 1):?>
                                    <td class="text-center"><a href="<?php echo URL."users/editUsers/". $user['user_id']?>">Edit</a> | <a href="<?php echo URL."users/delete/". $user['user_id']?>"  onclick="return confirm('Are you sure?')">Delete</a></td>
                                    <?php endif?>

                                    <!--<td class="text-center"><?php echo $item['photo'];?></td><img src="<?php echo UPLOAD_URL. $item['photo']?>"-->


                                </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>



</section>
</div>

<script type="text/javascript">
   $(document).ready(function () {
    $('#items-table').load('<?php echo URL . 'items/filterItems' ?>');
});


   function FilterProducts()
   {
    var department = $('#departments').val();
    var vendor = $('#vendors').val();
    $.ajax({
        url:'<?php echo URL.'items/filterItems'?>', 
        method: 'POST',
        data:{'department':department, 'vendor':vendor},
        success: function(response)
        {
            $("#items-table").html(response);
        },
        error: function()
        {
            alert('error');
        }
    });
}

</script>

