<script>
	$(document).ready(function () {
		$('.sidebar-menu li.user').addClass('active');
	});
</script>
<?php 
if($view_user['user_access_level'] == INVENTORY_MANAGER)
{
	$access_level = "Inventory Manager";
}
elseif($session['user_access_level'] == DEPARTMENT_MANAGER)
{
	$access_level = "Department Manager";
}
else
{
	$access_level = "Assistant";
}
?>
<div class="content-wrapper">

	<section class='content-header'></section>
<?php echo Session::showErrorMessages();?>
<?php echo Session::showSuccessMessages();?>

	<section class='invoice'>
		<div class='row page-header'>
			<div class='col-lg-3 col-md-4 col-sm-4 text-center'>
			<?php if($view_user['photo']):?>
                <img style='width: 100%; max-width: 200px; height: auto;margin-top:10px'src = "<?php echo UPLOAD_URL. $view_user['photo']?> "/>
              <?php else:?>

              	<?php $photo = "user.jpg"?>
                <img style='width: 100%; max-width: 200px; height: auto;margin-top:10px' src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
              <?php endif?>

					
			</div>
			<div class='col-lg-4  col-md-6 col-sm-6 '>
				<h3><strong><?php echo $access_level?></strong></h3>
				<h3>Username: <strong><?php echo $view_user['user_name'];?></strong></h3>
				<h3>Email: <strong><?php echo $view_user['user_email'];?></strong></h3>
				<h3>Phone No.: <strong><?php echo $view_user['user_phone'];?></strong></h3>
			</div>
		</div>
		<div class="row">
			<h3 class='col-xs-12 text-center'>Related Departments</h3>


			<div class='col-lg-12 col-md-12'>
				<?php if($view_departments):?>
					<div class="table-responsive no-padding">
						<table class="table table-hover" id="department_table">
							<thead>
								<th class="col-lg-2 text-center">Id</th>    
								<th class="col-lg-2 text-center">Department Name</th>

							</thead>
							<tbody>
								<?php foreach($view_departments as $department):?>
									<tr>
										<td class="text-center col-lg-2"><?php echo $department['department_id'];?></td>
										<td class="text-center col-lg-2"><a href="<?php echo URL."departments/view/".$department["department_id"]?>"><?php echo $department['department_name'];?></a></td>
									</tr>
								<?php endforeach;?>
							</tbody></table>
						</div>
					<?php else:?>

						<p class='col-xs-12 text-center'>No related departments found</p>
					<?php endif;?>
				</div>
			</section>
		</div>
	</div>