<script type="text/javascript">

  $(document).ready(function(){
    $('.sidebar-menu li.compareData').addClass('active');

    $('#document_filename').change(function(){
      uploadPhoto(this.files[0]);

    });
  });

  function uploadPhoto(image_file)
  {
    $("#data-table").empty();
    var file_data = $('#document_filename').prop('files')[0];   
    var form_data = new FormData();                  
    form_data.append('myfile', file_data);

    $.ajax({
      url:'<?php echo URL.'check/ajaxFileUpload'?>',
      allowedTypes:"xls",
      fileName: "myfile",
      multiple: false,
      target: '#output',   
      dataType: 'text', 
      cache: false,
      contentType: false,
      processData: false,
      method : 'POST',
      data : form_data,
      success: function(response)
      {
        response = '<?php echo UPLOAD_URL?>' + response;
        checkData();
      },
      error: function(files,status,errMsg)
      {  
        alert(errMsg);
        // $("#status").html("<font color='red'>Upload Failed</font>");
      },
      resetForm: true 
    });
  }

  function checkData()
  {
    $.ajax({
      url:'<?php echo URL.'check/compareData'?>', 
      method: 'POST',
      beforeSend: function() {
        $('#loadingDiv').show();
      },
      complete: function(){
        $('#loadingDiv').hide();
      },
        // data:{'department':department, 'vendor':vendor},
        success: function(response)
        {
          $("#data-table").html(response);
          $("#doc_upload").empty();
        },
        error: function(files,status,errMsg)
        {
          // alert('error');
        }
      });
  }
</script>

<div class="content-wrapper">
  <section class='content-header'></section>
  <?php echo Session::showSuccessMessages();?>
  <?php echo Session::showErrorMessages();?>
  <div class="col-lg-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Compare Data</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
      <div class="form-group" id="doc_upload">
         <label>Please insert your excel File</label>
         <input type='file' name='filename' id='document_filename' required/>
         <input type='hidden' name='updated_date' value='<?php echo date('Y-m-d')?>'/>            
         <input type='hidden' name='user_id' value='<?php echo $session['user_id'];?>'/>
         <div id="status"></div>
       </div>
       <div class="col-md-12">
         <div id="loadingDiv" style="display:none;">
          <img src="<?php echo URL."assets/images/ajax-loader.gif"?>" class="img-circle" alt="Loading"/>
        </div>
        <div class="table-responsive no-padding" id="data-table">
        </div>
      </div>
    </div><!-- /.box-body -->
  </div>
</div>
</div>
