<script type="text/javascript">
    $(document).ready(function () {
        $("#data_table").dataTable(
        {
           "columns": [

           null,
           null,
           { "searchable": false },
           { "searchable": false },
           { "searchable": false },
           { "searchable": false }
           ] ,

           "aoColumnDefs": [
           { 'bSortable': false, 'aTargets': [ -1 ] }
           ],
           <?php if(count($data) > 10):?>
           "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
       <?php else:?>
       "lengthMenu": [[10], [10]],
   <?php endif;?>
   responsive: true

});

        $("#data_table_wrapper").css("overflow-x","hidden");
    });


</script>


<div class="box">
    <div class="box-body">
        <table id="data_table" class="table table-hover table-striped table-bordered" width="100%" >
           <thead>
               <th class="col-lg-1 text-center">Department Name</th>
               <th class="col-lg-1 text-center">Item Name</th>
               <th class="col-lg-1 text-center">Warehouse Current (Excel)</th>
               <th class="col-lg-1 text-center">Warehouse Current (Inventory)</th>
               <th class="col-lg-1 text-center">Department Current (Excel)</th>
               <th class="col-lg-1 text-center">Department Current (Inventory)</th>
           </thead>
           <tbody>
            <?php if(isset($data)):?>
                <?php foreach ($data as $dept_name => $array):?>
                    <?php foreach ($array as $key => $value) :?>
                       <tr>
                           <td class="text-center"><?php echo $dept_name?></td>
                           <td class="text-center"><?php echo $key?></td>
                           <td class="text-center"><?php echo $value['wh_current_excel']?></td>
                           <td class="text-center"><?php echo $value['wh_current_inventory']?></td>
                           <td class="text-center"><?php echo $value['dept_current_excel']?></td>
                           <td class="text-center"><?php echo $value['dept_current_inventory']?></td>

                       </tr>
                   <?php endforeach?>
               <?php endforeach?>
           <?php else:?>
            No differing data found
        <?php endif?>
    </tbody>
</table>
</div>
</div>





<!-- <table id="data_table" class="table table-hover table-striped table-bordered" width="100%" >
    <thead>
        <th class="col-lg-1 text-center">Department Name</th>
        <th class="col-lg-2 text-center">Item Name</th>    
        <th class="col-lg-2 text-center">Warehouse Current (Excel)</th>
        <th class="col-lg-2 text-center">Warehouse Current (Inventory)</th>
        <th class="col-lg-2 text-center">Department Current (Excel)</th>
        <th class="col-lg-2 text-center">Department Current (Inventory)</th>

    </thead>
    <tbody>
       <?php if(isset($values)):?>
        <?php foreach($values as $value):?> 
            <tr>
               <td class="text-center">rashmi</td>
               <td class="text-center">rashmi</td>
               <td class="text-center">rashmi</td>
               <td class="text-center">rashmi</td>
               <td class="text-center">rashmi</td>
               <td class="text-center">rashmi</td>

           </tr>
       <?php endforeach;?>
   <?php endif;?> 
</tbody>
</table> -->
