<script type="text/javascript">
  $(document).ready(function(){
    $('.sidebar-menu li.items').addClass('active');
    $('.vendor_select').on('change', function (event) {
      $vendor_select = $(this);
      var vendor = $(this).parent().find('#vendor_select').val(); 
      $.ajax({
        url:'<?php echo URL.'vendors/getVendorInfo'?>', 
        method: 'POST',
        data:{'vendor':vendor},
        success: function(response)
        {
        // var name = "vendor_info_"+
        // $("#vendor_info_"+vendor).empty();

        // $("#vendor_info_"+vendor).html(response);
        $vendor_select.parent().find('.vendor_info').html(response);
        console.log($(this));
      },
      error: function()
      {
        alert('error');
      }
    });
      
    });
  });
</script>
<!-- <div class="content-wrapper" > -->
<!-- <section class='content-header'></section> -->

<section class='invoice' style="margin: 0px 0px;" >
  <div class='row page-header'>
    <div class='col-lg-3 col-md-4 col-sm-4 text-center'>

      <?php if(isset($item_info['photo'])):?>
        <img style='width: 100%; max-width: 200px; height: auto;'src = "<?php echo UPLOAD_URL. $item_info['photo']?> "/>
      <?php else:?>
        <?php $photo = "dummy.jpg"?>
        <img src="<?php echo UPLOAD_URL.$photo?>" class="user-image" alt="User Image"/>
      <?php endif?>

    </div>
    <div class='col-lg-4  col-md-8 col-sm-8 '>
      <h3><strong><?php echo $item_info['item_name']?></strong></h3>
      <h3>Total Quantity In House: <strong><?php echo $item_info['total_in_house']?></strong></h3>
    </div>
  </div>
  <div class='row lemonsoda'>
    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
      <?php if(isset($vendors[0])):?>
        <div id="primary_vendor" class="">

          <p><b><u><?php echo ($vendors[0]['vendor_priority'] == 1 )?'Primary Vendor': 'Secondary vendor'?></u></b></p>
          <p><?php echo $vendors[0]['vendor_name'];?></p>
          <p><?php echo $vendors[0]['vendor_address'];?></p>
          <p><?php echo $vendors[0]['vendor_email'];?></p>
          <p><?php echo $vendors[0]['vendor_contact'];?></p>
          <p><?php echo $vendors[0]['vendor_website'];?></p>

        </div>
      <?php endif;?>
    </div>
    <div class='col-lg-6 col-md-6 col-sm-6  col-xs-6'>
      <?php if(isset($vendors[1])):?>
        <div id="secondary_vendor"class="">

          <p><b><u><?php echo ($vendors[1]['vendor_priority'] == 1 )?'Primary Vendor': 'Secondary vendor'?></u></b></p>
          <p><?php echo $vendors[1]['vendor_name'];?></p>
          <p><?php echo $vendors[1]['vendor_address'];?></p>
          <p><?php echo $vendors[1]['vendor_email'];?></p>
          <p><?php echo $vendors[1]['vendor_contact'];?></p>
          <p><?php echo $vendors[1]['vendor_website'];?></p>

        </div>
      <?php endif?>
    </div>
  </div>
  <hr>
  <div class='row'>
    <h3 class='col-xs-12 text-center'>Stocks</h3>
    <div class='col-lg-6 col-md-6'>
      <?php if($departments):?>
        <table class="table table-hover" id="department_table">
          <thead>
            <th class="col-lg-2 text-center">Department Name</th>    
            <th class="col-lg-2 text-center">Min</th>
            <th class="col-lg-2 text-center">Max</th>
            <th class="col-lg-2 text-center">Current</th>
          </thead>
          <tbody>
            <?php foreach($departments as $department):?>
              <tr>

                <td class="text-center"><a href="<?php echo URL."departments/view/".$department["department_id"]?>"><?php echo $department['department_name'];?></a></td>
                <td class="text-center"><?php echo $department['department_item_min'];?></td>
                <td class="text-center"><?php echo $department['department_item_max'];?></td>
                <td class="text-center"><?php echo $department['department_item_current'];?></td>
              </tr>
            <?php endforeach;?>
          </tbody></table>
        <?php endif;?>
      </div>
      <div class='col-lg-6 col-md-6'>
        <?php if($warehouses):?>
          <table class="table table-hover" id="warehouse_table">
            <thead>
              <th class="col-lg-2 text-center">Warehouse Name</th>    
              <th class="col-lg-2 text-center">Min</th>
              <th class="col-lg-2 text-center">Max</th>
              <th class="col-lg-2 text-center">Current</th>
            </thead>
            <tbody>
              <?php foreach($warehouses as $warehouse):?>
                <tr>

                  <td class="text-center"><a href="<?php echo URL."warehouse/view/".$warehouse["warehouse_id"]?>"><?php echo $warehouse['warehouse_name'];?></a></td>
                  <td class="text-center"><?php echo $warehouse['warehouse_item_min'];?></td>
                  <td class="text-center"><?php echo $warehouse['warehouse_item_max'];?></td>
                  <td class="text-center"><?php echo $warehouse['warehouse_item_current'];?></td>
                </tr>
              <?php endforeach;?>
            </tbody></table>
          <?php endif;?>
        </div>
      </div>
      <hr>
      <div class='row'>
        <form id="purchase-form" action="<?php echo URL."purchase/purchase/"?>" method="post">
          <input type='hidden' name='item_id' value='<?php echo $item_info["item_id"]?>'/>
          <!-- <input type='hidden' name='vendor_id' value='<?php echo $vendor["vendor_id"]?>'/> -->
          <!-- <div class='rashmi-input col-lg-4'  > -->

          <div class="vendor col-lg-4" style="display:inline">
            <label>Vendor</label>
            <select name="vendor_select" id="vendor_select" class='form-control vendor_select'>
              <?php if(isset($vendors[0])):?>

                <?php foreach ($vendors as $vendor):?>
                  <option value="<?php echo $vendor['vendor_id']?>"
                    <?php echo ($vendor['vendor_id'] == $vendors[0]['vendor_id'])? 'selected': null  ?>
                    ><?php echo $vendor['vendor_name']?></option>
                  <?php endforeach ?>
                <?php else:?>
                  <?php foreach ($alternate_vendors as $vendor):?>
                    <option value="<?php echo $vendor['vendor_id']?>"
                      ><?php echo $vendor['vendor_name']?></option>
                    <?php endforeach ?>
                  <?php endif;?>
                </select>
                <div class="vendor_info">
                  <!-- <div id='vendor_info_<?php echo $vendors[0]['vendor_id']?>'> -->
                  <label>Lead Time : <?php echo $vendors[0]['lead_time']?></label> 
                  <br>
                  <label>Vendor Note: <?php echo $vendors[0]['vendor_note']?></label>
                  <!-- </div> -->
                </div>
              </div>
              <div class="qty col-lg-4" style="display:inline">
                <label>Quantity</label>
                <input type='text' name="purchase_qty" class='form-control'/>
              </div>
              <div class="col-lg-4" style="display:inline;">
              <input type="submit" class="purchase btn btn-primary" style="margin-top: 25px;" value='Purchase' id="purchase"/>
              </div>
            <!-- </div> -->
          </form>
          </div>

        </section>


    <!-- </div> -->